@page "/case/{urn:long}/management/action/NtiWarningLetter/add"
@model ConcernsCaseWork.Pages.Case.Management.Action.NtiWarningLetter.AddPageModel

@{
    ViewData["Title"] = "Add Nti Warning letter";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

                @if (!string.IsNullOrEmpty((string)TempData.Peek("NTI-WL.Message")))
                {
                    <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
                        <h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="#">@TempData["NTI-WL.Message"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @Model.CaseUrn</span>
                    NTI: Warning letter
                </h1>

                <div class="govuk-hint" id="nti-underconsideration-hint">
                    <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Financial%20Notices%20to%20Improve.aspx" class="govuk-link" rel="noreferrer noopener">
                        AMSD Knowledge: NTI Guidance
                    </a>
                </div>

                <form role="form" method="post" id="add-nta-wl-form" novalidate>
                    @* Status *@
                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">Current status</h2>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                @{
                                    int statusId = 0;
                                }
                                @foreach (var status in Model.Statuses)
                                {
                                    var idStr = statusId++ == 0 ? "status" : "status-" + statusId;
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="@idStr" name="status" type="radio" value="@status.Id">
                                        <label class="govuk-label govuk-radios__label" for="@idStr">
                                            <span>
                                                @status.Text
                                            </span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>

                    @* date *@
                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">Date warning letter sent</h2>
                            </legend>
                            <div class="govuk-date-input" id="dtr">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dtr-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-day"
                                           name="dtr-day" type="text" maxlength="2" inputmode="numeric" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dtr-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-month"
                                           name="dtr-month" type="text" maxlength="2" inputmode="numeric" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dtr-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dtr-year"
                                           name="dtr-year" type="text" maxlength="4" inputmode="numeric" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    @* Reason *@
                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">What are the reasons for considering a Notice To Improve</h2>
                            </legend>
                            <div id="waste-hint" class="govuk-hint">
                                Select all reasons that apply.
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                @{
                                    int reasonId = 0;
                                }
                                @foreach (var reason in Model.Reasons)
                                {
                                    var idStr = reasonId++ == 0 ? "reason" : "reason-" + reasonId;
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="@idStr" name="reason" type="checkbox" value="@reason.Id">
                                        <label class="govuk-label govuk-checkboxes__label" for="@idStr">
                                            @reason.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>

                    @* Conditions *@
                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">What are the conditions of the warning letter?</h2>
                            </legend>
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="action" value="@Model.ActionForAddConditionsButton">
                                Add conditions
                            </button>
                        </fieldset>
                    </div>

                    @* Notes *@
                    <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="@Model.NotesMaxLength">
                        <div class="govuk-form-group">
                            <h2 class="govuk-heading-m">Notes</h2>
                            <textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="nti-notes" name="nti-notes" rows="3" aria-describedby="nti-notes-info"></textarea>
                        </div>
                        <div id="nti-notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to @Model.NotesMaxLength characters
                        </div>
                    </div>

                    <input type="hidden" name="continuation-id" value="@Model.ContinuationId">

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-nti-wl-button" name="action" value="@Model.ActionForContinueButton">
                            Continue
                        </button>
                        <partial name="_Cancel" />
                    </div>
                </form>

                <script type="application/javascript" nonce="@nonce">
                    $(function () {
                        let validator = formValidator($("#add-nta-wl-form")[0]);

                        validator.addValidator('dtr-day', [{
                          method: function(field, params) {
                              return noDateOrCompleteDate(params.year.value, params.month.value, params.day.value);
                          },
                          message: 'Please enter a complete date (DD MM YYYY)',
                          params: {
                            day: document.getElementById('dtr-day'),
                            month: document.getElementById('dtr-month'),
                            year: document.getElementById('dtr-year')
                          }
                        }, null]);

                        function noDateOrCompleteDate(year, month, day) {
                            var missingValuesCount = 0;
                            if(year.length == 0) {
                                missingValuesCount++;
                            }
                            if(month.length == 0) {
                                missingValuesCount++;
                            }
                            if(day.length == 0) {
                                missingValuesCount++;
                            }
                            debugger;
                            return missingValuesCount == 0 || missingValuesCount == 3; @* the date should be either empty or valid *@
                        }

                        autoResizer();
                    });
                </script>
            }

        </div>
    </div>
</div>

