@page "/case/{urn:long}/management/action/NtiWarningLetter/conditions"
@model ConcernsCaseWork.Pages.Case.Management.Action.NtiWarningLetter.AddConditionsPageModel

@{
    ViewData["Title"] = "Add Nti Warning letter";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

                @if (!string.IsNullOrEmpty((string)TempData.Peek("NTI-WL.Message")))
                {
                    <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
                        <h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="#">@TempData["NTI-WL.Message"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @Model.CaseUrn</span>
                    What are the conditions of the NTI: Warning letter?
                </h1>

                <div class="govuk-hint" id="nti-underconsideration-hint">
                    <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Financial%20Notices%20to%20Improve.aspx" class="govuk-link" rel="noreferrer noopener">
                        AMSD Knowledge: NTI Guidance
                    </a>
                </div>
                <div id="waste-hint" class="govuk-hint">
                    Select all reasons that apply.
                </div>

                <form role="form" method="post" id="add-nta-conditions-wl-form" novalidate>
                    @* Conditions *@
                    <div class="govuk-form-group govuk-!-margin-top-5">
                        <fieldset class="govuk-fieldset">
                            @{
                                int conditionId = 0;
                            }
                            @foreach (var conditionGrouping in Model.AllConditions?.GroupBy(c => c.Type.Id))
                            {
                                <div class="govuk-form-group govuk-!-margin-top-3">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        @conditionGrouping.First().Type.Name
                                    </legend>
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        @foreach (var condition in conditionGrouping)
                                        {
                                            var idStr = conditionId++ == 0 ? "condition" : "condition-" + conditionId;
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="@idStr" name="condition" type="checkbox" value="@condition.Id" checked="@Model.IsConditionSelected(condition)">
                                                <label class="govuk-label govuk-checkboxes__label" for="@idStr">
                                                    @condition.Name
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </fieldset>
                    </div>
                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-nti-conditions-wl-button" name="action">
                            Update conditions
                        </button>
                        <partial name="_Cancel" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

