@page "/case/{urn:long}/management/action/ntiwarningletter/{ntiWarningLetterId:long}"
@model ConcernsCaseWork.Pages.Case.Management.Action.NtiWarningLetter.IndexPageModel

@using ConcernsCaseWork.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders

@{
    ViewData["Title"] = "NTI Warning Letter";
    var nonce = HttpContext.GetNonce();
}

@section BeforeMain {
<div class="govuk-width-container">
    <a id="back-to-case-link" class="govuk-back-link" href="/case/@RouteData.Values["urn"]/management">
        Back to case
    </a>
</div>
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_Error" />
    }
    else
    {

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-m">Case ID @RouteData.Values["urn"]</span>
            NTI: Warning letter
        </h1>

        <div class="govuk-hint" id="nti-underconsideration-hint">
            <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Financial%20Notices%20to%20Improve.aspx" class="govuk-link" rel="noreferrer noopener">
                AMSD Knowledge : NTI Guidance
            </a>
        </div>


        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m"></caption>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @* Status *@
                <tr class="govuk-table__row">
                    @if (Model.NtiWarningLetterModel.ClosedAt == null)
                    {
                        <th scope="row" class="govuk-table-case-details__header">Current status</th>
                        <td class="govuk-table__cell">
                            @{
                                RenderValue(Model.NtiWarningLetterModel.Status?.Name);
                            }
                        </td>
                    }
                    else
                    {
                        <th scope="row" class="govuk-table-case-details__header">Status</th>
                        <td class="govuk-table__cell">
                            @{
                                RenderValue(Model.NtiWarningLetterModel.ClosedStatus?.Name);
                            }
                        </td>
                    }
                </tr>


				@* Date sent *@
	            <tr class="govuk-table__row">
		            <th scope="row" class="govuk-table-case-details__header">Date sent</th>
		            <td class="govuk-table__cell">
			            @if(@Model.NtiWarningLetterModel.SentDate.HasValue)
			            {
				            RenderValue(DateExtension.ToDayMonthYearWithDefault(Model.NtiWarningLetterModel.SentDate.Value));
			            }
			            else
			            {
				            RenderEmptyLabel();
			            }
		            </td>
	            </tr>

                @* Reasons *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Reasons</th>
                    <td class="govuk-table__cell">
                        @{
                            if (Model.NtiWarningLetterModel.Reasons.Any())
                            {
                                foreach (var reason in Model.NtiWarningLetterModel.Reasons)
                                {
                                    <div class="govuk-!-padding-bottom-2">
                                        <span>@reason.Name</span>
                                    </div>
                                }
                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>

                @* Conditions *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Conditions</th>
                    <td class="govuk-table__cell">
                        @{
                            if (Model.NtiWarningLetterModel.Conditions.Any())
                            {
                                foreach (var condition in Model.NtiWarningLetterModel.Conditions)
                                {
                                    <div class="govuk-!-padding-bottom-2">
                                        <span>@condition.Name</span>
                                    </div>
                                }
                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>

                @* Notes *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Notes</th>
                    <td class="govuk-table__cell">
                        @{

                            if (!string.IsNullOrEmpty(Model.NtiWarningLetterModel.Notes))
                            {
                                <span>@Model.NtiWarningLetterModel.Notes</span>
                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>

            </tbody>
        </table>


        @if (Model.NtiWarningLetterModel.ClosedAt == null)
        {
            <div class="govuk-button-group">
                <a data-prevent-double-click="true" href="@Request.Path/edit" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button" id="edit-nti-wl-button">
                    Edit Information
                </a>
                <a data-prevent-double-click="true" href="@Request.Path/close" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button">
                    Close NTI: Warning letter
                </a>
            </div>
        }
    }
</div>

@functions {
    private void RenderValue<T>(T value)
    {
        if (IsEmpty(value))
        {
            RenderEmptyLabel();
        }
        else
        {
            @value
        }
    }

    private bool IsEmpty<T>(T value)
    {
        if (value is string)
        {
            return string.IsNullOrWhiteSpace(value as string);
        }

        return value == null || value.Equals(default(T));
    }

    private void RenderEmptyLabel()
    {
        <span class="govuk-tag ragtag ragtag__grey">Empty</span>
    }
}