@page "/case/{urn:long}/management/action/financialplan/add"
@using ConcernsCaseWork.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.Action.FinancialPlan.AddPageModel

@{
	ViewData["Title"] = "Add Financial plan";
	ViewData["CancelBackLink"] = $"/case/{@RouteData.Values["urn"]}/management";
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
	<partial name="_BannerError" />

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
			{
				<partial name="_Error" />
			}
			else
			{
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

				@if (!string.IsNullOrEmpty((string)TempData.Peek("FinancialPlan.Message")))
				{
					<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
						<h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
						<div class="govuk-error-summary__body">
							<ul class="govuk-list govuk-error-summary__list">
								<li>
									<a href="">@TempData["FinancialPlan.Message"]</a>
								</li>
							</ul>
						</div>
					</div>
				}

				<h1 class="govuk-heading-l">
					<span class="govuk-caption-m">Case ID: @RouteData.Values["urn"]</span>
					Financial plan
				</h1>


				<form role="form" method="post" id="add-financial-plan-form" novalidate>

					<div class="govuk-hint" id="financial-plan-hint">
						<a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Trust%20financial%20plans.aspx" class="govuk-link" rel="noreferrer noopener">
							SFSO Knowledge: Financial Plan
						</a>
					</div>

					@* date plan requested *@
					<div class="govuk-form-group govuk-!-margin-top-9">
						<fieldset class="govuk-fieldset">
                            <h2 class="govuk-heading-m">Date financial plan requested</h2>
							<div class="govuk-date-input" id="dtr-plan-requested">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-day-plan-requested">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-day-plan-requested"
											   name="dtr-day-plan-requested" type="text" maxlength="2" inputmode="numeric" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-month-plan-requested">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-month-plan-requested"
											   name="dtr-month-plan-requested" type="text" maxlength="2" inputmode="numeric" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-year-plan-requested">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dtr-year-plan-requested"
											   name="dtr-year-plan-requested" type="text" maxlength="4" inputmode="numeric" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					

					@* Notes *@
					<div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="@Model.NotesMaxLength">
                        <div class="govuk-form-group">
                            <h2 class="govuk-heading-m">Notes (optional)</h2>
                            <div class="govuk-hint">Case owners can record any information they want that feels relevant to the action</div>
                            <textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="financial-plan-notes" name="FinancialPlanModel.Notes" rows="3" aria-describedby="financial-plan-notes-info">@Model.FinancialPlanModel.Notes</textarea>
                        </div>
						<div id="financial-plan-notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to @Model.NotesMaxLength characters
						</div>
					</div>

					<div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-financial-plan-button">
                            Save and return to case overview
                        </button>
						<partial name="_Cancel" />
					</div>

				</form>

				<script type="application/javascript" nonce="@nonce">
					$(function () {
                        let validator = formValidator($("#add-financial-plan-form")[0]);
						addFinancialPlanNotesValidator(validator);
						autoResizer();

                        var submitButton = $('#add-financial-plan-button')[0];
                        disableOnSubmitWithJsValidationCheck(validator, submitButton);
					});
				</script>
			}

		</div>
	</div>
</div>

