@page "/case/{urn:long}/management/action/financialplan/{financialplanid:long}/close"
@model ConcernsCaseWork.Pages.Case.Management.Action.FinancialPlan.ClosePageModel

@using ConcernsCaseWork.Enums;
@using ConcernsCaseWork.Extensions

@{
	ViewData["Title"] = "Close Finance Plan";
	var nonce = HttpContext.GetNonce();

	var financialPlanStatusName = Model.FinancialPlanModel.Status?.Name ?? FinancialPlanStatus.Unknown.ToString();
}

<div class="govuk-width-container">
	<partial name="_BannerError" />

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
			{
				<partial name="_Error" />
			}
			else
			{
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

				@if (!string.IsNullOrEmpty((string)TempData.Peek("FinancialPlan.Message")))
				{
					<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
						<h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
						<div class="govuk-error-summary__body">
							<ul class="govuk-list govuk-error-summary__list">
								<li>
									<a href="">@TempData["FinancialPlan.Message"]</a>
								</li>
							</ul>
						</div>
					</div>
				}

				<h1 class="govuk-heading-l">
					<span class="govuk-caption-m">Case ID: @RouteData.Values["urn"]</span>
					Financial Plan
				</h1>


				<form role="form" method="post" id="close-financial-plan-form" novalidate>

					<div class="govuk-hint" id="financial-plan-hint">
						<a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Trust%20financial%20plans.aspx" class="govuk-link" rel="noreferrer noopener">
							AMSD Knowledge: Financial Plan
						</a>
					</div>

					@* Status *@
					<div class="govuk-form-group govuk-!-margin-top-6">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
								<h2 class="govuk-heading-m">Reason for closure</h2>
							</legend>
							<div class="govuk-radios" data-module="govuk-radios">
								@{
									int id = 0;
								}
								@foreach (var status in Model.FinancialPlanStatuses)
								{
									var idStr = id++ == 0 ? "status" : "status-" + id;
									var checkedStr = financialPlanStatusName == status.Id ? "checked" : "";
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="@idStr" name="status" type="radio" value="@status.Id" @checkedStr>
										<label class="govuk-label govuk-radios__label" for="@idStr">
											<span>
												@status.Text
											</span>
										</label>
									</div>
								}
							</div>
						</fieldset>
					</div>

					@* Notes *@
					<div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="@Model.NotesMaxLength">
						<div class="govuk-form-group">
							<h2 class="govuk-heading-m">Notes</h2>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="financial-plan-notes" name="financial-plan-notes" rows="3" aria-describedby="financial-plan-notes-info">@Model.FinancialPlanModel.Notes</textarea>
						</div>
						<div id="financial-plan-notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to @Model.NotesMaxLength characters
						</div>
					</div>

					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-financial-plan-button">
						  Close
						</button>
						<partial name="_Cancel" />
					</div>

				</form>

				<script type="application/javascript" nonce="@nonce">
					$(function () {
						let validator = formValidator($("#close-financial-plan-form")[0]);
						addFinancialPlanNotesValidator(validator);
						autoResizer();
					});
				</script>
			}

		</div>
	</div>
</div>

