@page "/case/{urn:long}/management/action/financialplan/edit/{finanicialplanid:long?}"
@model ConcernsCaseWork.Pages.Case.Management.Action.FinancialPlan.EditPageModel

@using ConcernsCaseWork.Enums;
@using ConcernsCaseWork.Helpers;

@{
	ViewData["Title"] = "Edit Financial Plan";
	var nonce = HttpContext.GetNonce();

	var datePlanRequestedDay = "";
	var datePlanRequestedMonth = "";
	var datePlanRequestedYear = "";

	var dateViablePlanReceivedDay =  "";
	var dateViablePlanReceivedMonth = "";
	var dateViablePlanReceivedYear =  "";

	var financialPlanNotes =  "";
	var financialPlanStatusEnum = FinancialPlanStatus.Unknown;

	if (Model.FinancialPlanModel != null)
	{
		var datePlanRequestedValue = Model.FinancialPlanModel.DatePlanRequested.HasValue ? Model.FinancialPlanModel.DatePlanRequested.Value : (DateTime?)null;
		var dateViablePlanReceivedValue = Model.FinancialPlanModel.DateViablePlanReceived.HasValue ? Model.FinancialPlanModel.DateViablePlanReceived.Value : (DateTime?)null;

		datePlanRequestedDay = datePlanRequestedValue != null ? $"{datePlanRequestedValue.Value.Day:00}" : "";
		datePlanRequestedMonth = datePlanRequestedValue != null ? $"{datePlanRequestedValue.Value.Month:00}" : "";
		datePlanRequestedYear = datePlanRequestedValue != null ? $"{datePlanRequestedValue.Value.Year:00}" : "";

		dateViablePlanReceivedDay = dateViablePlanReceivedValue != null ? $"{dateViablePlanReceivedValue.Value.Day:00}" : "";
		dateViablePlanReceivedMonth = dateViablePlanReceivedValue != null ? $"{dateViablePlanReceivedValue.Value.Month:00}" : "";

		dateViablePlanReceivedYear = dateViablePlanReceivedValue != null ? $"{dateViablePlanReceivedValue.Value.Year:00}" : "";

		financialPlanNotes = Model.FinancialPlanModel.Notes;
		var financialPlanStatusName = Model.FinancialPlanModel.Status != null ? Model.FinancialPlanModel.Status.Name : "";

		if (Enum.TryParse<FinancialPlanStatus>(financialPlanStatusName, out FinancialPlanStatus parsedStatus))
		{
			financialPlanStatusEnum = parsedStatus;
		}

	}
}

<div class="govuk-width-container">
	<partial name="_BannerError" />

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
			{
				<partial name="_Error" />
			}
			else
			{
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

				@if (!string.IsNullOrEmpty((string)TempData.Peek("FinancialPlan.Message")))
				{
					<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
						<h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
						<div class="govuk-error-summary__body">
							<ul class="govuk-list govuk-error-summary__list">
								<li>
									<a href="">@TempData["FinancialPlan.Message"]</a>
								</li>
							</ul>
						</div>
					</div>
				}

				<h1 class="govuk-heading-l">
					<span class="govuk-caption-m">Add to case</span>
					Financial Plan
				</h1>


				<form role="form" method="post" id="edit-financial-plan-form" novalidate>

					@* Status *@
					<div class="govuk-form-group govuk-!-margin-top-9">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
								<h2 class="govuk-heading-m">Current Status</h2>
							</legend>
							<div class="govuk-radios" data-module="govuk-radios">
								@{
									int id = 0;
								}
								@foreach (var status in Model.FinancialPlanStatuses)
								{
									var idStr = id++ == 0 ? "status" : "status-" + id;
									<div class="govuk-radios__item">

										@if (EnumHelper.GetEnumDescription(financialPlanStatusEnum) == status.Text)
										{
											<input class="govuk-radios__input" id="@idStr" name="status" type="radio" value="@status.Id" checked>
										}
										else
										{
											<input class="govuk-radios__input" id="@idStr" name="status" type="radio" value="@status.Id">
										}
										
										<label class="govuk-label govuk-radios__label" for="@idStr">
											<span>
												@status.Text
											</span>
										</label>
									</div>
								}
							</div>
						</fieldset>
					</div>

					@* date plan requested *@
					<div class="govuk-form-group govuk-!-margin-top-9">
						<fieldset class="govuk-fieldset">
							<h2 class="govuk-heading-m">Date plan requested</h2>
							<div class="govuk-date-input" id="dtr-plan-requested">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-day-plan-requested">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-day-plan-requested"
											   name="dtr-day-plan-requested" type="text" maxlength="2" inputmode="numeric" value="@datePlanRequestedDay" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-month-plan-requested">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-month-plan-requested"
											   name="dtr-month-plan-requested" type="text" maxlength="2" inputmode="numeric" value="@datePlanRequestedMonth" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-year-plan-requested">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dtr-year-plan-requested"
											   name="dtr-year-plan-requested" type="text" maxlength="4" inputmode="numeric" value="@datePlanRequestedYear" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					@* date viable plan received *@
					<div class="govuk-form-group govuk-!-margin-top-9">
						<fieldset class="govuk-fieldset">
							<h2 class="govuk-heading-m">Date viable plan received</h2>
							<div class="govuk-date-input" id="dtr-viable-plan">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-day-viable-plan">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-day-viable-plan"
											   name="dtr-day-viable-plan" type="text" maxlength="2" inputmode="numeric" value="@dateViablePlanReceivedDay" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-month-viable-plan">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-month-viable-plan"
											   name="dtr-month-viable-plan" type="text" maxlength="2" inputmode="numeric" value="@dateViablePlanReceivedMonth" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-year-viable-plan">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dtr-year-viable-plan"
											   name="dtr-year-viable-plan" type="text" maxlength="4" inputmode="numeric" value="@dateViablePlanReceivedYear" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>


					@* Notes *@
					<div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="@Model.NotesMaxLength">
						<div class="govuk-form-group">
							<h2 class="govuk-heading-m">Notes</h2>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="financial-plan-notes" name="financial-plan-notes" rows="3" aria-describedby="financial-plan-notes-info">@financialPlanNotes</textarea>
						</div>
						<div id="srma-notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to @Model.NotesMaxLength characters
						</div>
					</div>

					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-srma-button">
							Update
						</button>
						<partial name="_Cancel" />
					</div>

				</form>

				<script type="application/javascript" nonce="@nonce">
					$(function () {
						let validator = formValidator($("#edit-financial-plan-form")[0]);
						addFinancialPlanNotesValidator(validator);

						validator.addValidator('dtr-day', [{
						  method: function(field, params) {
							return (params.day.value.length !== 0 && params.month.value.length !== 0 && params.year.value !== 0);
						  },
						  message: 'Enter a valid date',
						  params: {
							day: document.getElementById('dtr-day'),
							month: document.getElementById('dtr-month'),
							year: document.getElementById('dtr-year')
						  }
						}, {
						  method: function(field, params) {
							if(!isValidDate(params)) {
								return false;
							}
							var d = new Date(parseInt(params.year.value, 10), parseInt(params.month.value, 10) - 1, parseInt(params.day.value, 10) - 1);
							return d instanceof Date && !isNaN(d);
						  },
						  message: 'Enter the date SRMA was offered to the trust',
						  params: {
							day: document.getElementById('dtr-day'),
							month: document.getElementById('dtr-month'),
							year: document.getElementById('dtr-year')
						  }
						}]);

						function isValidDate(date) {
							return !isNaN(date.year.value)
								&& !isNaN(date.month.value)
								&& !isNaN(date.day.value)
								&& date.month.value >= 1 && date.month.value <= 12
								&& date.day.value >= 1 && date.month.value <= 31;
						}

						autoResizer();
					});
				</script>
			}

		</div>
	</div>
</div>

