@page "/case/{urn:long}/management/action/financialplan/{financialplanid:long}/edit"
@model ConcernsCaseWork.Pages.Case.Management.Action.FinancialPlan.EditPageModel

@using ConcernsCaseWork.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders

@{
	ViewData["Title"] = "Edit Financial Plan";
	ViewData["CancelBackLink"] = $"/case/{@RouteData.Values["urn"]}/management";
	var nonce = HttpContext.GetNonce();

	var financialPlanNotes =  "";

	financialPlanNotes = Model.FinancialPlanModel.Notes;
}

<div class="govuk-width-container">
	<partial name="_BannerError" />

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
			{
				<partial name="_Error" />
			}
			else
			{
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

				@if (!string.IsNullOrEmpty((string)TempData.Peek("FinancialPlan.Message")))
				{
					<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
						<h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
						<div class="govuk-error-summary__body">
							<ul class="govuk-list govuk-error-summary__list">
								<li>
									<a href="">@TempData["FinancialPlan.Message"]</a>
								</li>
							</ul>
						</div>
					</div>
				}

				<h1 class="govuk-heading-l">
					<span class="govuk-caption-m">Case ID: @RouteData.Values["urn"]</span>
					Financial Plan
				</h1>


				<form role="form" method="post" id="edit-financial-plan-form" novalidate>

					<div class="govuk-hint" id="financial-plan-hint">
						<a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Trust%20financial%20plans.aspx" class="govuk-link" rel="noreferrer noopener">
							SFSO Knowledge: Financial Plan
						</a>
					</div>

					@* Status *@
					<div class="govuk-form-group govuk-!-margin-top-6">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
								<h2 class="govuk-heading-m">Current Status</h2>
							</legend>
							<div class="govuk-radios" data-module="govuk-radios">
								@{
									int id = 0;
								}
								@foreach (var status in Model.FinancialPlanStatuses)
								{
									var idStr = id++ == 0 ? "status" : "status-" + id;
									var checkedStr = status.IsChecked ? "checked" : "";
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="@idStr" name="status" type="radio" data-testid="status-@status.Id" value="@status.Id" @checkedStr>

										<label class="govuk-label govuk-radios__label" for="@idStr">
											<span>
												@status.Text
											</span>
										</label>
									</div>
								}
							</div>
						</fieldset>
					</div>

					@* date plan requested *@
					<div class="govuk-form-group govuk-!-margin-top-9">
						<fieldset class="govuk-fieldset">
							<h2 class="govuk-heading-m">Date plan requested</h2>
							<div class="govuk-date-input" id="dtr-plan-requested">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-day-plan-requested">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-day-plan-requested"
											   name="dtr-day-plan-requested" type="text" maxlength="2" inputmode="numeric" value="@Model.FinancialPlanModel.DatePlanRequested.ParseDay()" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-month-plan-requested">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-month-plan-requested"
											   name="dtr-month-plan-requested" type="text" maxlength="2" inputmode="numeric" value="@Model.FinancialPlanModel.DatePlanRequested.ParseMonth()" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-year-plan-requested">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dtr-year-plan-requested"
											   name="dtr-year-plan-requested" type="text" maxlength="4" inputmode="numeric" value="@Model.FinancialPlanModel.DatePlanRequested.ParseYear()" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					@* date viable plan received *@
					<div class="govuk-form-group govuk-!-margin-top-9">
						<fieldset class="govuk-fieldset">
							<h2 class="govuk-heading-m">Date viable plan received</h2>
							<div class="govuk-date-input" id="dtr-viable-plan">
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-day-viable-plan">
											Day
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-day-viable-plan"
											   name="dtr-day-viable-plan" type="text" maxlength="2" inputmode="numeric" value="@Model.FinancialPlanModel.DateViablePlanReceived.ParseDay()" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-month-viable-plan">
											Month
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-month-viable-plan"
											   name="dtr-month-viable-plan" type="text" maxlength="2" inputmode="numeric" value="@Model.FinancialPlanModel.DateViablePlanReceived.ParseMonth()" />
									</div>
								</div>
								<div class="govuk-date-input__item">
									<div class="govuk-form-group">
										<label class="govuk-label govuk-date-input__label" for="dtr-year-viable-plan">
											Year
										</label>
										<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dtr-year-viable-plan"
											   name="dtr-year-viable-plan" type="text" maxlength="4" inputmode="numeric" value="@Model.FinancialPlanModel.DateViablePlanReceived.ParseYear()" />
									</div>
								</div>
							</div>
						</fieldset>
					</div>


					@* Notes *@
					<div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="@Model.NotesMaxLength">
						<div class="govuk-form-group">
							<h2 class="govuk-heading-m">Notes</h2>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="financial-plan-notes" name="financial-plan-notes" rows="3" aria-describedby="financial-plan-notes-info">@financialPlanNotes</textarea>
						</div>
						<div id="financial-plan-notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to @Model.NotesMaxLength characters
						</div>
					</div>

					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-financial-plan-button">
						 Update
						</button>
						<partial name="_Cancel" />
					</div>

				</form>

				<script type="application/javascript" nonce="@nonce">
					$(function () {
						let validator = formValidator($("#edit-financial-plan-form")[0]);
						addFinancialPlanNotesValidator(validator);
						autoResizer();
					});
				</script>
			}

		</div>
	</div>
</div>

