@page "/case/{urn:long}/management/action/srma/{srmaId:long}"
@model ConcernsCaseWork.Pages.Case.Management.Action.SRMA.IndexPageModel

@using ConcernsCaseWork.Helpers;
@using ConcernsCaseWork.Extensions;

@{
    ViewData["Title"] = "SRMA";
    var nonce = HttpContext.GetNonce();
}

@section BeforeMain {
<div class="govuk-width-container">
    <a id="back-to-case-link" class="govuk-back-link" href="/case/@RouteData.Values["urn"]/management">
        Back to case
    </a>
</div>
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_Error" />
    }
    else
    {
        if (TempData["SRMA.Message"] != null)
        {
            <div class="govuk-heading-l moj-banner__message">
                <h3>Errors found</h3>
                <ul>
                    <li>@TempData["SRMA.Message"]</li>
                </ul>
            </div>
        }
        else
        {
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-m">Case ID @Model.CaseUrn</span>
                School Resource Management Adviser (SRMA)
            </h1>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m"></caption>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    @* Status *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Status</th>
                        <td class="govuk-table__cell">
                            @{
                                var statusStr = Model.SRMA.Status == Enums.SRMAStatus.Unknown ? string.Empty
                                : @EnumHelper.GetEnumDescription(Model.SRMA.Status);
                                RenderValue(statusStr);
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__header__right">
                            @{
                                RenderLink(Model.SRMA.Status, "SRMA status", $@"{Request.Path}\status");
                            }
                        </td>
                    </tr>

                    @* Date offered *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Date offered</th>
                        <td class="govuk-table__cell">
                            @{
                                RenderValue(DateExtension.ToDayMonthYear(Model.SRMA.DateOffered));
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__header__right">
                            @{
                                RenderLink(Model.SRMA.DateOffered, "SRMA date offered", $@"{Request.Path}\offeredDate");
                            }
                        </td>
                    </tr>

                    @* Reason *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Reason</th>
                        <td class="govuk-table__cell">
                            @{
                                var reasonStr = Model.SRMA.Reason == Enums.SRMAReasonOffered.Unknown ? string.Empty
                                : @EnumHelper.GetEnumDescription(Model.SRMA.Reason);
                                
                                RenderValue(reasonStr);
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__header__right">
                            @{
                                RenderLink(Model.SRMA.Reason, "SRMA reason", $@"{Request.Path}\reason");
                            }
                        </td>
                    </tr>

                    @* Date accepted *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Date accepted</th>
                        <td class="govuk-table__cell">
                            @{
                                RenderValue(DateExtension.ToDayMonthYearWithDefault(Model.SRMA.DateAccepted));
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__header__right">
                            @{
                                RenderLink(Model.SRMA.DateAccepted, "SRMA date accepted", "#");
                            }
                        </td>
                    </tr>

                    @* Dates of visit *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Dates of visit</th>
                        <td class="govuk-table__cell">
                            @{
                                if (IsEmpty(Model.SRMA.DateVisitStart))
                                {
                                    RenderEmptyLabel();
                                }
                                else
                                {
                                    @DateExtension.ToDayMonthYear(Model.SRMA.DateVisitStart.Value)
                                    if (!IsEmpty(Model.SRMA.DateVisitEnd))
                                    {
                                        <text> - </text>
                                        @DateExtension.ToDayMonthYear(Model.SRMA.DateVisitEnd.Value)
                                    }
                                }
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__header__right">
                            @{
                                RenderLink(Model.SRMA.DateVisitStart, "SRMA Dates of visit", $@"{Request.Path}\visitdates");
                            }
                        </td>
                    </tr>


                    @* Date report sent *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Date report sent to trust</th>
                        <td class="govuk-table__cell">
                            @{
                                RenderValue(DateExtension.ToDayMonthYearWithDefault(Model.SRMA.DateReportSentToTrust));
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__header__right">
                            @{
                                RenderLink(Model.SRMA.DateReportSentToTrust, "SRMA Date report sent to trust", "#");
                            }
                        </td>
                    </tr>

                    @* Notes *@
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Notes</th>
                        <td class="govuk-table__cell">
                            @{
                                RenderValue(Model.SRMA.Notes);
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__header__right">
                            @{
                                RenderLink(Model.SRMA.Notes, "SRMA Notes", $@"{Request.Path}\notes");
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="govuk-button-group">
                <button data-prevent-double-click="true" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button" id="complete-decline-srma-button">
                    @Model.DeclineCompleteButtonLabel
                </button>
                <button data-prevent-double-click="true" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button" id="cancel-srma-button">
                    SRMA canceled
                </button>
            </div>
        }
    }
</div>

@functions {
    private void RenderValue<T>(T value)
    {
        if (IsEmpty(value))
        {
            RenderEmptyLabel();
        }
        else
        {
            @value
        }
    }

    private void RenderLink<T>(T value, string fieldName, string url)
    {
        <a class="govuk-link" href="@url">
            @(IsEmpty(value) ? "Add" : "Edit")
            <span class="govuk-visually-hidden">@fieldName</span>
        </a>
    }

    private bool IsEmpty<T>(T value)
    {
        if (value is string)
        {
            return string.IsNullOrWhiteSpace(value as string);
        }

        return value == null || value.Equals(default(T));
    }

    private void RenderEmptyLabel()
    {
        <span class="govuk-tag ragtag ragtag__grey">Empty</span>
    }
}