@page "/case/{urn:long}/management/action/nti/{ntiId:long}/close"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.Action.Nti.ClosePageModel

@{
    ViewData["Title"] = "Close NTI Warning Letter";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

                @if (!string.IsNullOrEmpty((string)TempData.Peek("NTI.Message")))
                {
                    <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
                        <h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="#">@TempData["NTI.Message"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @RouteData.Values["urn"]</span>
                    Close NTI
                </h1>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This action cannot be reopened. Check the details are correct before closing
                    </strong>
                </div>

                <form role="form" method="post" id="close-nti-form" novalidate>

                    @* date *@
                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">Date NTI closed</h2>
                            </legend>
                            <div class="govuk-date-input" id="dtr">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dtr-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-day"
                                           name="dtr-day" type="text" maxlength="2" inputmode="numeric" value="@($"{Model.Nti?.DateNTIClosed?.Day:00}")" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dtr-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dtr-month"
                                           name="dtr-month" type="text" maxlength="2" inputmode="numeric" value="@($"{Model.Nti?.DateNTIClosed?.Month:00}")" />
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dtr-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dtr-year"
                                           name="dtr-year" type="text" maxlength="4" inputmode="numeric" value="@($"{Model.Nti?.DateNTIClosed?.Year}")" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    @* Checklist *@
                    <div class="govuk-!-margin-top-9">
                        <h2 class="govuk-heading-m">Checklist</h2>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Has the closure letter been sent to the trust?</li>
                            <li>Has the closure been published to GOV.UK?</li>
                        </ul>
                    </div>

                    @* Notes *@
                    <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="@Model.NotesMaxLength">
                        <div class="govuk-form-group">
                            <h2 class="govuk-heading-m">Finalise notes (optional)</h2>
                            <div class="govuk-hint">Case owners can record any information they want that feels relevant to the action</div>
                            <textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="nti-notes" name="nti-notes" rows="3" aria-describedby="nti-notes-info">@(Model.Nti.Notes ?? string.Empty)</textarea>
                        </div>
                        <div id="nti-notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to @Model.NotesMaxLength characters
                        </div>
                    </div>

                    <p class="govuk-body">Do you still want to close this NTI: Notice to Improve?</p>

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-nti-wl-button">
                            Close NTI: Notice to improve
                        </button>
                        <partial name="_Cancel" />
                    </div>

                </form>
            }

            <script type="application/javascript" nonce="@nonce">
                $(function () {
                    let validator = formValidator($("#close-nti-form")[0]);

                    addNTINotesValidator(validator);
                    

                    validator.addValidator('dtr-day', [{
                         method: function(field, params) {
                             return noDateOrCompleteDate(params.year.value, params.month.value, params.day.value);
                         },
                       message: 'Please enter a complete date (DD MM YYYY)',
                       params: {
                         day: document.getElementById('dtr-day'),
                         month: document.getElementById('dtr-month'),
                         year: document.getElementById('dtr-year')
                       }
                     }]);

                     function noDateOrCompleteDate(year, month, day) {
                        var missingValuesCount = 0;
                        if(year.length == 0) {
                            missingValuesCount++;
                        }
                        if(month.length == 0) {
                            missingValuesCount++;
                        }
                        if(day.length == 0) {
                            missingValuesCount++;
                        }
                        return missingValuesCount == 0 || missingValuesCount == 3; @* the date should be either empty or valid *@
                    }

                    autoResizer();
                });
            </script>

        </div>
    </div>
</div>

