@page "/case/{urn:long}/management/action/nti/{ntiId:long}"
@model ConcernsCaseWork.Pages.Case.Management.Action.Nti.IndexPageModel
@using ConcernsCaseWork.Enums;

@using ConcernsCaseWork.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ConcernsCaseWork.Helpers;

@{
    ViewData["Title"] = "NTI";
}

@section BeforeMain {
	<div class="govuk-width-container">
		<back-link url="@Model.BackLink.Url" label="@Model.BackLink.Label"></back-link>
	</div>
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_Error" />
    }
    else
    {

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-m">Case ID @RouteData.Values["urn"]</span>
            NTI
        </h1>

        <div class="govuk-hint" id="nti-underconsideration-hint">
            <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Financial%20Notices%20to%20Improve.aspx" class="govuk-link" rel="noreferrer noopener">
                SFSO Knowledge : NTI Guidance
            </a>
        </div>


        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m"></caption>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @* Date Opened *@
                @{
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Date NTI: Notice to improve opened</th>
                        <td class="govuk-table__cell">
                            <div class="govuk-!-padding-bottom-2">
                                <span>@DateTimeHelper.ParseToDisplayDate(Model.NtiModel.CreatedAt)</span>
                            </div>
                        </td>
                    </tr>
                }

                @if (Model.NtiModel.ClosedAt.HasValue)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Date NTI: Notice to improve completed</th>
                        <td class="govuk-table__cell">
                            <div class="govuk-!-padding-bottom-2">
                                <span>@DateTimeHelper.ParseToDisplayDate(Model.NtiModel.ClosedAt.Value)</span>
                            </div>
                        </td>
                    </tr>
                }


                @* Status *@
                <tr class="govuk-table__row">
                    @if (Model.NtiModel.ClosedAt == null)
                    {
                        <th scope="row" class="govuk-table-case-details__header">Current status</th>
                        <td class="govuk-table__cell" data-testid="status-text">
                            @{
                                if (Model.NtiModel.Status != null)
                                {
                                    RenderValue(Model.NtiModel.Status.Name);
                                }
                                else
                                {
                                    RenderEmptyLabel();
                                }
                            }
                        </td>
                    }
                    else
                    {
                        <th scope="row" class="govuk-table-case-details__header">Status</th>
                        <td class="govuk-table__cell" data-testid="status-text">
                            @{
                                if (Model.NtiModel.ClosedStatus != null)
                                {
                                    RenderValue(Model.NtiModel.ClosedStatus.Name);
                                }
                                else
                                {
                                    RenderEmptyLabel();
                                }
                            }
                        </td>
                    }

                </tr>



                @* Date NTI Issued *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Date NTI Issued</th>
                    <td class="govuk-table__cell" data-testid="date-issued-text">
                        @{
                            if (Model.NtiModel.DateStarted.HasValue)
                            {
                                RenderValue(DateExtension.ToDayMonthYearWithDefault(Model.NtiModel.DateStarted.Value));
                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>

                @* Date Closed *@
                @if (Model.NtiModel.ClosedAt.HasValue)
                {
                    <tr class="govuk-table__row">
                        @{
                            switch (Model.NtiModel.ClosedStatus.Id)
                            {
                                case (int)NTIStatus.Cancelled:
                                    <th scope="row" class="govuk-table-case-details__header">Date NTI cancelled</th>
                                    <td class="govuk-table__cell">
                                        @{
                                            RenderValue(DateExtension.ToDayMonthYearWithDefault(Model.NtiModel.ClosedAt.Value));
                                        }
                                    </td>
                                    break;
                                case (int)NTIStatus.Lifted:
                                    <th scope="row" class="govuk-table-case-details__header">Date NTI Lifted</th>
                                    <td class="govuk-table__cell">
                                        @{

                                            if (Model.NtiModel.DateNTILifted.HasValue)
                                            {
                                                RenderValue(DateExtension.ToDayMonthYearWithDefault(Model.NtiModel.DateNTILifted.Value));
                                            }
                                            else
                                            {
                                                RenderEmptyLabel();
                                            }
                                        }
                                    </td>
                                    break;
                                case (int)NTIStatus.Closed:
                                    <th scope="row" class="govuk-table-case-details__header">Date NTI Closed</th>
                                    <td class="govuk-table__cell" data-testid="date-nti-closed">
                                        @{

                                            if (Model.NtiModel.DateNTIClosed.HasValue)
                                            {
                                                RenderValue(DateExtension.ToDayMonthYearWithDefault(Model.NtiModel.DateNTIClosed.Value));
                                            }
                                            else
                                            {
                                                RenderEmptyLabel();
                                            }
                                        }
                                    </td>
                                    break;
                                default:
                                    throw new Exception($"{nameof(IndexPageModel)}::Uknown status found - {Model.NtiModel.ClosedStatus.Name}");
                                    break;
                            }
                        }

                    </tr>
                }

                @* Reasons *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Reasons</th>
                    <td class="govuk-table__cell" data-testid="reason-text">
                        @{
                            if (Model.NtiModel.Reasons.Any())
                            {
                                foreach (var reason in Model.NtiModel.Reasons)
                                {
                                    <div class="govuk-!-padding-bottom-2">
                                        <span>@reason.Name</span>
                                    </div>
                                }
                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>

                @* Conditions *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Conditions</th>
                    <td class="govuk-table__cell" data-testid="condition-text">
                        @{
                            if (Model.NtiModel.Conditions.Any())
                            {
                                foreach (var condition in Model.NtiModel.Conditions)
                                {
                                    <div class="govuk-!-padding-bottom-2">
                                        <span>@condition.Name</span>
                                    </div>
                                }
                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>

                @* Notes *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Notes</th>
                    <td class="govuk-table__cell" data-testid="notes-text">
                        @{

                            if (!string.IsNullOrEmpty(Model.NtiModel.Notes))
                            {
                                <span>@Model.NtiModel.Notes</span>
                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>

            </tbody>
        </table>


        @if (Model.NtiModel.ClosedAt == null)
        {
            <div class="govuk-button-group">
                <ul class="govuk-list">
                    <li>
                        <div class="govuk-!-padding-bottom-6">
                            <a data-prevent-double-click="true" href="@Request.Path/edit" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button" id="edit-nti-wl-button" data-testid="edit-nti-button">
                                Edit Information
                            </a>

                        </div>
                    </li>

                    <li>
                        <div class="govuk-!-padding-bottom-1">
                            <a data-prevent-double-click="true" href="@Request.Path/cancel" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button" id="edit-nti-wl-button" data-testid="cancel-nti-button">
                                Cancel NTI
                            </a>
                            <p class="govuk-hint">
                                The NTI is no longer needed.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="govuk-!-padding-bottom-1">
                            <a data-prevent-double-click="true" href="@Request.Path/lift" class="govuk-button govuk-button--primary" data-module="govuk-button" role="button" data-testid="lift-nti-button">
                                Lift NTI
                            </a>
                            <p class="govuk-hint">
                                The trust has met, or you are assured they will meet, the term and conditions
                                of the NTI and we are assured that continued compliance is sustainable
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="govuk-!-padding-bottom-1">
                            <a data-prevent-double-click="true" href="@Request.Path/close" class="govuk-button govuk-button--warning" data-module="govuk-button" role="button" data-testid="close-nti-button">
                                Close NTI
                            </a>
                            <p class="govuk-hint">
                                The trust has failed to meet the conditions of the NTI and the intervention has
                                escalated to a academy transfers and/or trust closure.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        }
    }
</div>

@functions {
    private void RenderValue<T>(T value)
    {
        if (IsEmpty(value))
        {
            RenderEmptyLabel();
        }
        else
        {
            @value
        }
    }

    private bool IsEmpty<T>(T value)
    {
        if (value is string)
        {
            return string.IsNullOrWhiteSpace(value as string);
        }

        return value == null || value.Equals(default(T));
    }

    private void RenderEmptyLabel()
    {
        <span class="govuk-tag ragtag ragtag__grey">Empty</span>
    }
}