@page "/case/{urn:int}/management/action/trustFinancialForecast/{id:int}"
@model ConcernsCaseWork.Pages.Case.Management.Action.TrustFinancialForecast.IndexPageModel
@using ConcernsCaseWork.Constants
@using ConcernsCaseWork.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData[ViewDataConstants.Title] = "View Trust Financial Forecast (TFF)";
}

@section BeforeMain {
    <div class="govuk-width-container">
        <back-link url="/case/@Model.Urn/management" label="Back to case overview"></back-link>
    </div>
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_Error" />
    }
    else
    {
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-m">Case ID @Model.Urn</span>
            Trust Financial Forecast (TFF)
        </h1>

        @if (Model.TrustFinancialForecastModel.IsEditable)
        {
            <div class="govuk-hint" data-testid="decision-extra-info">
                Review information before editing, leaving or continuing to closing trust financial forecast (TFF).
            </div>
        }
        @if (Model.TrustFinancialForecastModel.IsClosed)
        {
            <closed-label></closed-label>
        }

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-date-opened-label">Date TFF opened</th>
                    <td class="govuk-table__cell" data-testid="trust-financial-forecast-date-opened">
                        <single-line-text text="@Model.TrustFinancialForecastModel.DateOpened"></single-line-text>
                    </td>
                </tr>

                @if (Model.TrustFinancialForecastModel.IsClosed)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-date-closed-label">Date TFF closed</th>
                        <td class="govuk-table__cell" data-testid="trust-financial-forecast-date-closed">
                            <single-line-text text="@Model.TrustFinancialForecastModel.DateClosed"></single-line-text>
                        </td>
                    </tr>
                }

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-when-run-label">Forecasting tool run</th>
                    <td class="govuk-table__cell" data-testid="trust-financial-forecast-when-run">
                        <single-line-text text="@Model.TrustFinancialForecastModel.ForecastingToolRanAt"></single-line-text>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-when-reviewed-label">SFSO initial review date</th>
                    <td class="govuk-table__cell" data-testid="trust-financial-forecast-when-reviewed">
                        <single-line-text text="@Model.TrustFinancialForecastModel.SFSOInitialReviewHappenedAt"></single-line-text>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-when-responded-label">Trust response date</th>
                    <td class="govuk-table__cell" data-testid="trust-financial-forecast-when-responded">
                        <single-line-text text="@Model.TrustFinancialForecastModel.TrustRespondedAt"></single-line-text>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-was-satisfactory-label">Trust response satisfactory?</th>
                    <td class="govuk-table__cell" data-testid="trust-financial-forecast-was-satisfactory">
                        <single-line-text text="@Model.TrustFinancialForecastModel.WasTrustResponseSatisfactory"></single-line-text>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-srma-offered-label">SRMA offered after TFF?</th>
                    <td class="govuk-table__cell" data-testid="trust-financial-forecast-srma-offered">
                        <single-line-text text="@Model.TrustFinancialForecastModel.SRMAOfferedAfterTFF"></single-line-text>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-notes-label">Notes (optional)</th>
                    <td class="govuk-table__cell" data-testid="trust-financial-forecast-notes">
                        <multi-line-text contents="@Model.TrustFinancialForecastModel.Notes"></multi-line-text>
                    </td>
                </tr>

                @if (Model.TrustFinancialForecastModel.IsEditable)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-table__header__width_15" data-testid="trust-financial-forecast-edit-button-label">Action</th>
                        <td class="govuk-table__cell">
                            <a data-prevent-double-click="true" href="@Request.Path/edit" id="trust-financial-forecast-edit-button">
                                Edit information
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.TrustFinancialForecastModel.IsEditable)
        {
            <div class="govuk-button-group">
                <close-button url="@Request.Path/close" id="trust-financial-forecast-close-button" label="Continue to close financial trust forecast (TFF)"></close-button>
            </div>
        }
    }
</div>
