@page
@model AccessibilityPageModel
@{
    ViewData["Title"] = "Accessibility";

    var prodSiteLink = "https://www.record-concerns-support-trusts.education.gov.uk";
    var prodSiteName = "record-concerns-support-trusts.education.gov.uk";
}
@section BeforeMain {
    <div class="govuk-width-container">
        <back-link url="@Model.BackLink.Url" label="@Model.BackLink.Label"></back-link>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Accessibility statement for Record concerns and support for trusts</h1>

        <p class="govuk-body">This service is part of the wider GOV.UK website. There’s a separate <a target="_blank" href="https://www.gov.uk/help/accessibility-statement" class="govuk-link">accessibility statement for the main GOV.UK website</a>.</p>

        <p class="govuk-body">This page only contains information about the Record concerns and support for trusts service, available at <a target="_blank" href="@prodSiteLink" class="govuk-link">@prodSiteName</a></p>

        <h2 class="govuk-heading-m">Using this service</h2>
        <p class="govuk-body">This accessibility statement applies to the domain <a target="_blank" href="@prodSiteLink" class="govuk-link">@prodSiteName</a></p>


        <p class="govuk-body">This service is run by the Department for Education. We want as many people as possible to be able to use this service. For example, that means you should be able to do the following: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>get from the start of the service to the end using just a keyboard</li>
            <li>get from the start of the service to the end using speech recognition software</li>
            <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            <li>access the service on smaller devices</li>
        </ul>
        <p class="govuk-body">We’ve also made the text in the service as simple to understand as we can.</p>
        <p class="govuk-body govuk-!-margin-bottom-7">
            <a target="_blank" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a>
            has advice on making your device easier to use if you have a disability.
        </p>

        <h2 class="govuk-heading-m">Feedback and contact information</h2>
        <p class="govuk-body">If you need information on this service in a different format, such as accessible PDF, large print, easy read, audio recording or Braille, feel free to contact us:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>email <a class="govuk-link" href="mailto:regionalservices.rg@education.gov.uk?subject=Record%20concerns%20and%20support%20for%20trusts:%20Support%20query" class="govuk-link">regionalservices.rg@education.gov.uk</a></li>
            <li>call 0370 000 2288</li>
        </ul>
        <p class="govuk-body">As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format - for example, large print, audio recording or Braille.</p>

        <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>
        <p class="govuk-body">We’re always looking to improve the accessibility of this service. If you find any problems that are not listed on this page, or if you think we’re not meeting accessibility requirements, use the contact details provided previously, for feedback and contact information.</p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a target="_blank" href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a></p>

        <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
        <p class="govuk-body">The Department for Education is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h2 class="govuk-heading-m">Compliance status</h2>
        <p class="govuk-body">This service is fully compliant with the <a target="_blank" href="https://www.w3.org/TR/WCAG21" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</p>

        <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>
        <p class="govuk-body">We are continually working to improve the accessibility of our service. We conduct regular accessibility audits and act on their findings. We learn from these audits and other accessibility information, and we apply our increased knowledge to all updates we make.</p>

        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
        <p class="govuk-body">This statement was prepared on 15th November 2023. It was last reviewed on 10 November 2023.</p>
        <p class="govuk-body">This service was last tested via audit on 23 August 2023. The audit was carried out by <a target="_blank" href="https://nexerdigital.com" class="govuk-link">Nexer Digital Ltd</a>.</p>
        <p class="govuk-body">We chose the pages to audit on the basis of the following user journey: Record concerns and support for trusts</p>

        <p class="govuk-body">The audit assessed the following pages and functions:</p>
        <ul class="govuk-list govuk-list--number">
            <li>Record Concerns - Sign In: <a target="_blank" href="@prodSiteLink" class="govuk-link">record-concerns-support-trusts.education.gov.uk</a></li>
            <li>Record Concerns - Create A Case:  <a target="_blank" href="@prodSiteLink/case/create" class="govuk-link">@prodSiteName/case/create</a></li>
        </ul>

        <p class="govuk-body">The audit used the Web Content Accessibility Guidelines V2.1, levels A and AA, to determine how accessible the selected pages are.</p>
    </div>
</div>
