@page
@model ConcernsCaseWork.Pages.HomePageModel

@{
	ViewData["Title"] = "Home";
}

<div class="govuk-!-margin-top-0">

	<div class="govuk-button-group flexalign__right">
		<a class="govuk-link" href="#">
			Closed cases (TRAMS)
		</a>
		<a class="govuk-button" asp-page="/case/index" role="button">
			Create case
		</a>
	</div>

	<!-- Active casework -->
	<table class="govuk-table">
		<caption class="govuk-table__caption govuk-table__caption--m">
			Your active casework
		</caption>
		<thead class="govuk-table__head">
		<tr class="govuk-table__row tr__large">
			<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_4" scope="col">
				Case ID
			</th>
			<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_6" scope="col">
				Last update
			</th>
			<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_10" scope="col">
				Trust/Academy
			</th>
			<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_10" scope="col">
				Primary case type
			</th>
			<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_8" scope="col">
				RAG rating
			</th>
			<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_6" scope="col">
				Created
			</th>
		</tr>
		</thead>
		<tbody class="govuk-table__body">
		@if (Model.CasesActive.Count == 0)
		{
			<tr class="govuk-table__row tr__large">
				<td class="govuk-table__cell__cases govuk-oneline-row">
					<span>There are no cases available.</span>
				</td>
			</tr>
		}
		else
		{
			foreach (var caseModel in Model.CasesActive)
			{
				<tr class="govuk-table__row tr__large">
					<td class="govuk-table__cell">
						<a class="govuk-link" href="case/@caseModel.CaseUrn/management">@caseModel.CaseUrn</a>
					</td>
					<td class="govuk-table__cell">
						@caseModel.Updated
					</td>
					<td class="govuk-table__cell">
						@caseModel.TrustName
						<br>
						@caseModel.AcademyNames
					</td>
					<td class="govuk-table__cell">
						@caseModel.CaseType
						<br>
						@caseModel.CaseSubType
					</td>
					<td class="govuk-table__cell">
						<span class="govuk-tag ragtag govuk-word-spacing @caseModel.RagRatingCss">@caseModel.RagRating</span>
					</td>
					<td class="govuk-table__cell">
						@caseModel.Created
					</td>
				</tr>
			}
		}
		</tbody>
	</table>

	<!-- Closed for monitoring -->
	<table class="govuk-table  govuk-!-margin-top-9">
		<caption class="govuk-table__caption govuk-table__caption--m">
			Closed for monitoring
		</caption>

		<thead class="govuk-table__head">
		<tr class="govuk-table__row tr__large">
			<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_4" scope="col">
				Case ID
			</th>
			<th class="govuk-table__header govuk-table__cell__cases" scope="col">
				Trust/Academy
			</th>
			<th class="govuk-table__header govuk-table__cell__cases" scope="col">
				Primary case type
			</th>
			<th class="govuk-table__header govuk-table__cell__cases" scope="col">
				Closed
			</th>
		</tr>
		</thead>

		<tbody class="govuk-table__body">
		@if (Model.CasesMonitoring.Count == 0)
		{
			<tr class="govuk-table__row tr__large">
				<td class="govuk-table__cell__cases govuk-oneline-row">
					<span>There are no cases available.</span>
				</td>
			</tr>
		}
		else
		{
			foreach (var caseModel in Model.CasesMonitoring)
			{
				<tr class="govuk-table__row tr__large">
					<td class="govuk-table__cell">
						<a class="govuk-link" href="case/@caseModel.CaseUrn/management">@caseModel.CaseUrn</a>
					</td>
					<td class="govuk-table__cell">
						@caseModel.TrustName
						<br>
						@caseModel.AcademyNames
					</td>
					<td class="govuk-table__cell">
						@caseModel.CaseType
					</td>
					<td class="govuk-table__cell">
						@caseModel.Closed
					</td>
				</tr>
			}
		}
		</tbody>
	</table>
</div>