@page
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@model ConcernsCaseWork.Pages.LoginModel

@{
	ViewData["Title"] = "Login";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">@_localizer["Header"]</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		
		@if (!string.IsNullOrEmpty((string) TempData.Peek("Error.Message")))
		{
			<p class="govuk-body">Error: @TempData["Error.Message"]</p>
		}
		
		<form method="post">
			<input type="hidden" asp-for="Credentials.ReturnUrl" name="returnUrl"/>
			<div class="govuk-form-group">
				<label class="govuk-label" for="username">
					@_localizer["Form:UserName"]
				</label>
				<span id="username-hint" class="govuk-hint">
					@_localizer["Form:Hint:UserName"]
				</span>
				<input class="govuk-input" id="username" asp-for="Credentials.UserName" name="username" type="text" aria-describedby="username-hint">
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="password">
					@_localizer["Form:Password"]
				</label>
				<span id="password-hint" class="govuk-hint">
					@_localizer["Form:Hint:Password"]
				</span>
				<input class="govuk-input" id="password" asp-for="Credentials.Password" name="password" type="password" aria-describedby="email-hint">
			</div>
			<button type="submit" class="govuk-button govuk-button--primary">@_localizer["Button:SignIn"]</button>
		</form>
	</div>
</div>