@page
@using ConcernsCaseWork.Extensions
@model ConcernsCaseWork.Pages.TestModel
@{
    var errors = ViewData.ModelState.ToValidationResult();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-heading-m">
                        Do you have the RAG rationale commentary now?
                    </h2>
                </legend>

                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input asp-for="@Model.YesChecked" class="govuk-radios__input" type="radio" value="false" id="radio-no" data-cy="select-radio-no">
                        <label class="govuk-label govuk-radios__label" for="radio-no">
                            No, the RAG rationale commentary is not available yet
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input asp-for="@Model.YesChecked" class="govuk-radios__input" type="radio" value="true" aria-controls="conditional-annexBsaved" id="radio-yes" data-cy="select-radio-yes">
                        <label class="govuk-label govuk-radios__label" for="radio-yes">
                            Yes
                        </label>
                    </div>

                    <div class="govuk-radios__conditional" id="conditional-annexBsaved" data-cy="select-sharepoint-section">
                        <div class="govuk-form-group @ModelState.GetErrorStyleClass()">
                            <label class="govuk-label" for="application-form-url">
                                RAG rationale commentary
                            </label>

                            <partial name="Components/_ValidationErrorDetail" model="@errors" />
                            <textarea asp-for="@Model.RiskToTrustRationalText" class="govuk-textarea @ModelState.GetTextAreaErrorStyles(nameof(Model.RiskToTrustRationalText))" rows="5" aria-describedby="application-form-url-hint" data-cy="select-sharepoint-url" aria-label="text-area-for-annex-b"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <button class="govuk-button" data-module="govuk-button" data-cy="select-save-and-continue">
                Save and continue
            </button>
        </form>
    </div>
</div>

@* <form method="post" id="case-rating-form" novalidate> *@
@*     <div class="govuk-form-group govuk-!-margin-top-6"> *@
@*         <fieldset class="govuk-fieldset"> *@
@*             <partial name="Components/_RadioList" model="Model.RiskToTrustRational" /> *@
@*         </fieldset> *@
@*     </div> *@
@* </form> *@


