@model ConcernsCaseWork.Models.OptionalDateTimeUiComponent
<div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
			<h2 class="govuk-heading-m">
				@Model.Heading
			</h2>
		</legend>
		<div class="govuk-date-input" id="dtr-@Model.ElementRootId">
			<div class="govuk-date-input__item">
				<div class="govuk-form-group">
					<label class="govuk-label govuk-date-input__label" for="dtr-day-@Model.ElementRootId">
						Day
					</label>
					<input
						class="govuk-input govuk-date-input__input govuk-input--width-4" 
						id="dtr-day-@Model.ElementRootId"
						data-test-id="dtr-day-@Model.ElementRootId"
						type="text" 
						maxlength="2" 
						inputmode="numeric"
						value="@Model.Date?.Day"
						name="@(Model.Name).Date.Day"/>
				</div>
			</div>
			<div class="govuk-date-input__item">
				<div class="govuk-form-group">
					<label class="govuk-label govuk-date-input__label" for="dtr-month-@Model.ElementRootId">
						Month
					</label>
					<input 
						class="govuk-input govuk-date-input__input govuk-input--width-4" 
						id="dtr-month-@Model.ElementRootId"
						data-test-id="dtr-month-@Model.ElementRootId"
						type="text" 
						maxlength="2" 
						inputmode="numeric"
						value="@Model.Date?.Month"
						name="@(Model.Name).Date.Month" />
				</div>
			</div>
			<div class="govuk-date-input__item">
				<div class="govuk-form-group">
					<label class="govuk-label govuk-date-input__label" for="dtr-year-@Model.ElementRootId">
						Year
					</label>
					<input
						class="govuk-input govuk-date-input__input govuk-input--width-4" 
						id="dtr-year-@Model.ElementRootId"
						data-test-id="dtr-year-@Model.ElementRootId"
						type="text" 
						maxlength="4" 
						inputmode="numeric"
						value="@Model.Date?.Year"
						name="@(Model.Name).Date.Year"/>
				</div>
			</div>

		</div>
	</fieldset>
</div>