
@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using NetEscapades.AspNetCore.SecurityHeaders
@using System.ComponentModel.DataAnnotations;
@model ConcernsCaseWork.Models.TextAreaUiComponent
@{
    var nonce = Context.GetNonce();
    var displayName = !string.IsNullOrEmpty(@Model.Text.DisplayName) ? @Model.Text.DisplayName : @Model.Heading;

    var modelPath = $"{Model.Name}.Text.{displayName}";
    ViewContext.ModelState.TryGetValue(modelPath, out ModelStateEntry modelState);

    var errors = modelState?.Errors.Select(e => new ValidationResult(e.ErrorMessage, new[] { displayName })); ;
    var errorClass = errors?.Any() ?? false ? " govuk-form-group--error" : string.Empty;
}
<div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
        <h2 class="govuk-heading-m">@Model.Heading</h2>
        @if (!string.IsNullOrEmpty(Model.HintText))
        {
            <div class="govuk-hint">@Model.HintText</div>
        }
		<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="@Model.Text.MaxLength">
            <div class="govuk-form-group @errorClass" id="@(Model.Name).Text.@Model.Heading">
                <partial name="Components/_ValidationErrorDetail" model="@errors" />
				<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="@Model.ElementRootId" data-testid="@Model.ElementRootId" name="@(Model.Name).Text.StringContents" rows="3" aria-describedby="@Model.ElementRootId-info">@Model.Text.StringContents</textarea>
			</div>
			<div id="@Model.ElementRootId-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
				You can enter up to @Model.Text.MaxLength characters
			</div>
		</div>
	</fieldset>
	<input type="hidden" name="@(Model.Name).Text.DisplayName" value="@displayName" />
	<input type="hidden" name="@(Model.Name).Text.MaxLength" value="@Model.Text.MaxLength" />
</div>

<script type="application/javascript" nonce="@nonce">
	$(function () {
        autoResizer();
	});
</script>