@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Models.TextBoxUiComponent
@{
	var nonce = Context.GetNonce();
}
<div class="govuk-form-group" id="container-@Model.ElementRootId">
	<fieldset class="govuk-fieldset">
		<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="@Model.Text.MaxLength">
            <div class="govuk-form-group" id="@(Model.Name).Text.@Model.Heading">
                <h2 class="govuk-heading-m">@Model.Heading</h2>
                <input class="govuk-input govuk-input--width-20" id="@Model.ElementRootId" data-testid="@Model.ElementRootId" name="@(Model.Name).Text.StringContents" type="text" value="@Model.Text.StringContents" aria-label="@Model.Heading">
            </div>

		</div>
	</fieldset>
	<input type="hidden" name="@(Model.Name).Text.DisplayName" value="@Model.Heading" />
	<input type="hidden" name="@(Model.Name).Text.MaxLength" value="@Model.Text.MaxLength" />
</div>
