@page "/case/{caseUrn:long}/management/action/srma/{srmaId:long}/status"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model EditSRMAStatusPageModel

@{
	ViewData["Title"] = "SRMA Status";
    ViewData["CancelButtonLabel"] = "Cancel and return to SRMA"; // label used for _Cancel partial view
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else if (TempData["SRMA.Message"] != null)
            {
                <div class="govuk-heading-l moj-banner__message">
                    <h3>Errors found</h3>
                    <ul>
                        @foreach (var msg in (TempData["SRMA.Message"] as IEnumerable<string>))
                        {
                            <li>@msg</li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">SRMA</span>
                    Status
                </h1>

                <form role="form" method="post" id="add-srma-form" novalidate>

                    @* Status *@
                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">What is the status of the SRMA?</h2>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                @{
                                    int id = 0;
                                }
                                @foreach (var status in Model.SRMAStatuses)
                                {
                                    var idStr = id++ == 0 ? "status" : "status-" + id;
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="@idStr" data-testid="@status.Id" name="status" type="radio" value="@status.Id" checked="@status.IsChecked">
                                        <label class="govuk-label govuk-radios__label" for="@idStr">
                                            <span>
                                                @status.Text
                                            </span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>


                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-srma-button">
                            Save and return to SRMA
                        </button>
                        <partial name="_Cancel" />
                    </div>

                </form>

                <script type="application/javascript" nonce="@nonce">
                    $(function () {
                        let validator = formValidator($("#add-srma-form")[0]);
                        
                        validator.addValidator('status', [{
                            method: function(field) {
                                return ((typeof(field) != "undefined") && field.value.trim().length > 0);
                            },
                            message: 'Select status'
                        }]);

                        

                        autoResizer();
                    });
                </script>
            }

        </div>
    </div>
</div>
