@page "/trust/{id:long}/overview"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Trust.OverviewPageModel

@{
	ViewData["Title"] = "Trust Overview";
	var nonce = HttpContext.GetNonce();
}


	<div class="govuk-width-container">
		<div class="govuk-button-group">
			<a class="govuk-button govuk-button--secondary" asp-page="/home" role="button">
				Your casework
			</a>
			<a class="govuk-button govuk-button--secondary" asp-page="/trust/index" role="button">
				Find trust
			</a>
		</div>
		<h1 class="govuk-heading-l">
			<span class="govuk-caption-m">Trust Overview</span>
			@Model.TrustDetailsModel.GiasData.GroupNameTitle
		</h1>
		<partial name="_TrustOverview" model="@Model.TrustDetailsModel"/>
		<partial name="_Academies" model="@Model.TrustDetailsModel.Establishments"/>

		<nav class="moj-sub-navigation" aria-label="Sub navigation">
        
          <ul class="moj-sub-navigation__list">
            <li class="moj-sub-navigation__item">
	            <a id="hide-show-active" class="moj-sub-navigation__link" aria-expanded="true" aria-current="page" href="#active-cases"><span aria-hidden="false"></span>Active Cases</a>
            </li>
        
            <li class="moj-sub-navigation__item">
              <a id="hide-show-closed" class="moj-sub-navigation__link" href="#closed-cases" aria-expanded="false"><span aria-hidden="true"></span>Closed Cases</a>
            </li>
        
          
          </ul>
        
        </nav>
		
		<div id ="active-cases">
			<table class="govuk-table   govuk-!-margin-top-9" data-module="moj-sortable-table">
				<caption class="govuk-table__caption govuk-table__caption--m">
					<div class="govuk-button-group flexalign__right">
						<a asp-page="../case/concern/index" role="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
							Create case
						</a>
					</div>
					Active cases
				</caption>
				<partial name="_TrustActiveCases" model="@Model.ActiveCases.ActiveCases"/>
			</table>
			<form action="/form-handler" method="post" novalidate="">
				<nav class="govuk-pagination" role="navigation" aria-label="results"><div class="govuk-pagination__prev">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">Previous</span></a>
                </div>
            <ul class="govuk-pagination__list"><li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                          1
                        </a>
                      </li><li class="govuk-pagination__item govuk-pagination__item--current">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                          2
                        </a>
                      </li><li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                          3
                        </a>
                      </li></ul><div class="govuk-pagination__next">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="next">        <span class="govuk-pagination__link-title">Next</span>      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg></a>
                </div></nav>
            
            
              </form>
		</div>
		<div id="closed-cases" hidden >
			<table class="govuk-table  govuk-!-margin-top-9" data-module="moj-sortable-table">
				<caption class="govuk-table__caption govuk-table__caption--m">
					Closed cases
				</caption>
				<partial name="_TrustClosedCases" model="@Model.ClosedCases.ClosedCases"/>
			</table>
			<form action="/form-handler" method="post" novalidate="">
                  
            
            
            <nav class="govuk-pagination" role="navigation" aria-label="results"><div class="govuk-pagination__prev">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">Previous</span></a>
                </div>
            <ul class="govuk-pagination__list"><li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                          1
                        </a>
                      </li><li class="govuk-pagination__item govuk-pagination__item--current">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                          2
                        </a>
                      </li><li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                          3
                        </a>
                      </li></ul><div class="govuk-pagination__next">
                  <a class="govuk-link govuk-pagination__link" href="#" rel="next">        <span class="govuk-pagination__link-title">Next</span>      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg></a>
                </div></nav>
            
            
              </form>
		</div>
		
		
		
	</div>


<script type="application/javascript" nonce="@nonce">
document.getElementById("hide-show-closed").addEventListener("click", function(){
	console.log("show closed")
	if (document.getElementById("closed-cases").hasAttribute("hidden")) {
		console.log("show hidden");
		document.getElementById("closed-cases").removeAttribute("hidden");
		document.getElementById("active-cases").hidden = true;
		document.getElementById("hide-show-closed").setAttribute("aria-expanded","true");
		document.getElementById("hide-show-closed").setAttribute("aria-current","page");
		document.getElementById("hide-show-active").removeAttribute("aria-current");
	} 
});

document.getElementById("hide-show-active").addEventListener("click", function(){
	console.log("show active")
	if (document.getElementById("active-cases").hasAttribute("hidden")) {
		console.log("show active");
		document.getElementById("active-cases").removeAttribute("hidden");
		document.getElementById("closed-cases").hidden = true;
		document.getElementById("hide-show-active").setAttribute("aria-expanded","true");
		document.getElementById("hide-show-active").setAttribute("aria-current","page");
		document.getElementById("hide-show-closed").removeAttribute("aria-current");
	} 
});	

</script>