@page "/trust/{id:long}/overview"
@using ConcernsCaseWork.API.Contracts.Configuration;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Trust.OverviewPageModel
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@{
    ViewData["Title"] = "Trust Overview";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <div class="govuk-button-group">
        <a class="govuk-button govuk-button--secondary" asp-page="/home" role="button">
            Your casework
        </a>
        <a class="govuk-button govuk-button--secondary" asp-page="/trust/index" role="button">
            Find trust
        </a>
    </div>
    <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Trust Overview</span>
        @Model.TrustDetailsModel.GiasData.GroupNameTitle
    </h1>
    <partial name="_TrustOverview" model="@Model.TrustDetailsModel" />
    <partial name="_Academies" model="@Model.TrustDetailsModel.Establishments" />

    <feature name="@FeatureFlags.IsTrustCasesTabsEnabled">
        <h2 class="govuk-heading-m">
            Active and closed cases
        </h2>
        <div class="govuk-button-group flexalign__right">
            <a class="govuk-button" asp-page="/case/createCase/selectCaseType" role="button" data-testid="create-case-button">
                Create case
            </a>
        </div>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a id="active-cases-tab" class="moj-sub-navigation__link" aria-expanded="true" aria-current="page" tabindex="0"><span aria-hidden="false"></span>Active Cases</a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a id="closed-cases-tab" class="moj-sub-navigation__link" aria-expanded="false" tabindex="0"><span aria-hidden="true"></span>Closed Cases</a>
                </li>
            </ul>
        </nav>

        <div id="active-cases">
            <partial name="_TrustActiveCases" model="@Model.ActiveCaseSummaryGroupModel" />
        </div>
        <div id="closed-cases" hidden>
            <partial name="_TrustClosedCases" model="@Model.ClosedCaseSummaryGroupModel" />
        </div>
    </feature>
    <feature name="@FeatureFlags.IsTrustCasesTabsEnabled" negate="true">
        <div class="govuk-button-group flexalign__right">
            <a class="govuk-button" asp-page="/case/createCase/selectCaseType" role="button" data-testid="create-case-button">
                Create case
            </a>
        </div>
        <partial name="_TrustActiveCases" model="@Model.ActiveCaseSummaryGroupModel" />
        <partial name="_TrustClosedCases" model="@Model.ClosedCaseSummaryGroupModel" />
    </feature>
</div>


<script type="application/javascript" nonce="@nonce">

    $(function () {
        const closedCasesTab = document.getElementById("closed-cases-tab");
        const closedCasesTableContainer = document.getElementById("closed-cases");

        const activeCasesTab = document.getElementById("active-cases-tab");
        const activeCasesTableContainer = document.getElementById("active-cases");

        if (closedCasesTab) {
            closedCasesTab.addEventListener("click", function() {
                if (closedCasesTableContainer.hasAttribute("hidden")) {
                    closedCasesTableContainer.removeAttribute("hidden");
                    closedCasesTab.setAttribute("aria-expanded","true");
                    closedCasesTab.setAttribute("aria-current","page");
                    activeCasesTableContainer.hidden = true;
                    activeCasesTab.removeAttribute("aria-current");
                }
            });
        }

        if (activeCasesTab) {
            activeCasesTab.addEventListener("click", function() {
                if (activeCasesTableContainer.hasAttribute("hidden")) {
                    activeCasesTableContainer.removeAttribute("hidden");
                    activeCasesTab.setAttribute("aria-expanded","true");
                    activeCasesTab.setAttribute("aria-current","page");
                    closedCasesTableContainer.hidden = true;
                    closedCasesTab.removeAttribute("aria-current");
                }
            });
        }
    });

</script>