@page "/case/{urn:long}/management/action/NtiUnderConsideration/{ntiUCId:long}/close"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.Action.NtiUnderConsideration.ClosePageModel

@{
    ViewData["Title"] = "Close Nti Under Consideration";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
	            <partial name="Shared/_ValidationErrors" />
	            
                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @Model.CaseUrn</span>
                    Close NTI: Under consideration
                </h1>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This action cannot be reopened. Check the details are correct before closing
                    </strong>
                </div>

                <form role="form" method="post" id="add-nti-uc-form" novalidate>

                    @* Status *@
                    <div class="govuk-form-group govuk-!-margin-top-6">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios" data-module="govuk-radios">
                                @{
                                    int id = 0;
                                }
                                @foreach (var status in Model.NTIStatuses)
                                {
                                    var idStr = id++ == 0 ? "status" : "status-" + id;
                                    <div class="govuk-radios__item">

                                        <input class="govuk-radios__input" id="@idStr" data-testid="@status.Text" name="status" type="radio" value="@status.Id" checked="@status.IsChecked">

                                        <label class="govuk-label govuk-radios__label" for="@idStr">
                                            <span>
                                                @status.Text
                                            </span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>
                    <partial name="Components/_TextArea" model="Model.Notes" />

                    <p class="govuk-body">Do you still want to close this NTI: Under consideration action?</p>

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-nti-uc-button">
                            Close NTI: Under consideration
                        </button>
                        <partial name="_Cancel" />
                    </div>

                </form>
            }

        </div>
    </div>
</div>

