@page "/case/{urn:long}/management/action/NtiUnderConsideration/{ntiUCId:long}/edit"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.Action.NtiUnderConsideration.EditPageModel

@{
    ViewData["Title"] = "Edit Nti Under Consideration";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

                @if (!string.IsNullOrEmpty((string)TempData.Peek("NTI-UC.Message")))
                {
                    <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
                        <h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li>
                                    <a href="#">@TempData["NTI-UC.Message"]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @Model.CaseUrn</span>
                    NTI: Under consideration
                </h1>

                <form role="form" method="post" id="add-nti-uc-form" novalidate>

                    @* Status *@
                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">What are the reasons for considering a Notice To Improve</h2>
                            </legend>
                            <div id="waste-hint" class="govuk-hint">
                                Select all reasons that apply.
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                @{
                                    int id = 0;
                                }
                                @foreach (var reason in Model.NTIReasonsToConsiderForUI)
                                {
                                    var idStr = id++ == 0 ? "reason" : "reason-" + id;
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" data-testid="reason-@reason.Text" id="@idStr" name="reason" type="checkbox" value="@reason.Id" checked="@reason.IsChecked">
                                        <label class="govuk-label govuk-checkboxes__label" for="@idStr">
                                            @reason.Text
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>

                    @* Notes *@
                    <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="@EditPageModel.NotesMaxLength">
                        <div class="govuk-form-group">
                            <h2 class="govuk-heading-m">Notes (optional)</h2>
                            <div class="govuk-hint">Case owners can record any information they want that feels relevant to the action</div>
                            <textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="nti-notes" name="nti-notes" rows="3" aria-describedby="nti-notes-info">@(Model.NtiModel?.Notes ?? string.Empty)</textarea>
                        </div>
                        <div id="nti-notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to @EditPageModel.NotesMaxLength characters
                        </div>
                    </div>

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-nti-uc-button">
                            Continue
                        </button>
                        <partial name="_Cancel" />
                    </div>

                </form>
            }

        </div>
    </div>
</div>

