@page "/case/{urn:long}/management/action/ntiunderconsideration/{ntiUnderConsiderationId:long}/{handler?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ConcernsCaseWork.Helpers;
@model ConcernsCaseWork.Pages.Case.Management.Action.NtiUnderConsideration.IndexPageModel

@{
    ViewData["Title"] = "NTI Under Consideration";
    var isClosed = Model.NTIUnderConsiderationModel.ClosedAt.HasValue;
}

@section BeforeMain {
	<div class="govuk-width-container">
		<back-link url="@Model.BackLink.Url" label="@Model.BackLink.Label"></back-link>
	</div>
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_Error" />
    }
    else
    {

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-m">Case ID @RouteData.Values["urn"]</span>
            NTI: Under consideration
        </h1>

        @if (isClosed)
        {
            <span class="govuk-tag ragtag ragtag__grey govuk-!-margin-bottom-3">Closed</span>
        }

        <div class="govuk-hint" id="nti-underconsideration-hint">
            <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Financial%20Notices%20to%20Improve.aspx" class="govuk-link" rel="noreferrer noopener">
                SFSO Knowledge: NTI Guidance
            </a>
        </div>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m"></caption>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @* Date Opened *@
                @{
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Date NTI: Under consideration opened</th>
                        <td class="govuk-table__cell" data-testid="date-opened-text">
                            <div class="govuk-!-padding-bottom-2">
                                <span>@DateTimeHelper.ParseToDisplayDate(Model.NTIUnderConsiderationModel.CreatedAt)</span>
                            </div>
                        </td>
                    </tr>
                }

                @if (isClosed)
                {
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table-case-details__header">Date NTI: Under consideration completed</th>
                        <td class="govuk-table__cell" data-testid="date-closed-text">
                            <div class="govuk-!-padding-bottom-2">
                                <span>@DateTimeHelper.ParseToDisplayDate(Model.NTIUnderConsiderationModel.ClosedAt.Value)</span>
                            </div>
                        </td>
                    </tr>
                }

                @* Status *@
                @{
                    if (!string.IsNullOrEmpty(Model.NTIUnderConsiderationModel.ClosedStatusName))
                    {
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table-case-details__header">Status</th>
                            <td class="govuk-table__cell" data-testid="nti-status">
                                <div class="govuk-!-padding-bottom-2">
                                    <span>@Model.NTIUnderConsiderationModel.ClosedStatusName</span>
                                </div>
                            </td>
                        </tr>
                    }
                }

                @* Reasons *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Reasons</th>
                    <td class="govuk-table__cell" data-testid="nti-reasons">
                        @{
                            if (Model.NTIUnderConsiderationModel.NtiReasonsForConsidering.Any())
                            {
                                foreach (var reason in Model.NTIUnderConsiderationModel.NtiReasonsForConsidering)
                                {
                                    <div class="govuk-!-padding-bottom-2">
                                        <span>@reason.Name</span>
                                    </div>
                                }

                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>



                @* Notes *@
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table-case-details__header">Notes (optional)</th>
                    <td class="govuk-table__cell" data-testid="nti-notes">
                        @{

                            if (!string.IsNullOrEmpty(Model.NTIUnderConsiderationModel.Notes))
                            {
                                <span class="dfe-text-area-display">@Model.NTIUnderConsiderationModel.Notes</span>
                            }
                            else
                            {
                                RenderEmptyLabel();
                            }
                        }
                    </td>
                </tr>

            </tbody>
        </table>

        @if (Model.NTIUnderConsiderationModel.IsEditable)
        {
            <div class="govuk-button-group">
                <a data-prevent-double-click="true" href="@Request.Path/edit" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button" id="edit-nti-uc-button">
                    Edit information
                </a>
                <a data-prevent-double-click="true" href="@Request.Path/close" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button" data-testid="close-nti-uc-button">
                    Close NTI: Under consideration
                </a>
            </div>
        }
    }
</div>

@functions {
    private void RenderEmptyLabel()
    {
        <span class="govuk-tag ragtag ragtag__grey">Empty</span>
    }
}