@page "/case/{urn:long}/management/edit-case-owner"
@using ConcernsCaseWork.Extensions;
@using NetEscapades.AspNetCore.SecurityHeaders;
@using System.ComponentModel.DataAnnotations;
@model ConcernsCaseWork.Pages.Case.Management.EditOwnerPageModel
@{
    var nonce = HttpContext.GetNonce();

    var errors = ViewData.ModelState.ToValidationResult();

    ViewData["Title"] = "Change owner";

    var errorBannerClass = errors.Any() ? " govuk-form-group--error" : string.Empty;
    var inputErrorClass = errors.Any() ? "autocomplete__error" : string.Empty;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
        {
            <partial name="_Error" />
        }
        else
        {
            <form method="post" id="edit-case-owner-form" novalidate>

                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l" name="caseID">
                    <span class="govuk-caption-m">Case ID</span>
                    @Model.Urn
                </h1>

                <div class="govuk-form-group @errorBannerClass" id="container-SelectedCaseOwner">
                    <h1 class="govuk-heading-l">
                        Change case owner
                    </h1>
                    <div class="govuk-hint">Find and select the email address of the person you want to assign the case to</div>

                    <partial name="Components/_ValidationErrorDetail" model="@errors" />

                    <label for="case-owner-input" class="govuk-visually-hidden">Enter the email address of the person you want to assign the case to</label>
                    <div id="autocomplete-container" class="@inputErrorClass"></div>

                    <div class="ccms-loader govuk-!-display-none"></div>

                    <input type="hidden" id="selected-owner" name="selectedOwner" required />
                    <input type="hidden" id="current-owner" name="currentOwner" value="@Model.CurrentCaseOwner" />
                    <input type="hidden" id="in-list" name="valueInList" value="-1" />
                </div>

                <!--Button group-->
                <div class="govuk-button-group govuk-!-margin-top-3">
                    <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-testid="save-case">
                        Continue
                    </button>
                    <partial name="_Cancel" />
                </div>
            </form>
        }
    </div>
</div>

<script type="application/javascript" nonce="@nonce">
    $(document).ready(function () {
        let autocompleteContainer = document.getElementById('autocomplete-container');
        let results = null;
        document.getElementById('selected-owner').value = document.getElementById("current-owner").value;
        let currentCaseOwner = document.getElementById("current-owner").value;
        $.get('?handler=TeamList')
        .done((result) =>
        {
            accessibleAutocomplete({
                element: autocompleteContainer,
                id: "case-owner-input",
                name: "case-owner",
                defaultValue:currentCaseOwner,
                source: result,
                confirmOnBlur: false,
                autoselect: true,
                showNoOptonsFound: true,
                onConfirm: (selected) => {
                    document.getElementById('selected-owner').value = selected;
                    if(selected)
                    {
                        document.getElementById('in-list').value = 1
                    }
                    else
                    {
                        document.getElementById('in-list').value = -1
                    }
                    results = result;
                }
            });

            var indexInList = jQuery.inArray(currentCaseOwner, result);
            document.getElementById('in-list').value = indexInList;
            if(indexInList == -1)
            {
                 document.getElementById('selected-owner').value = ""
            }
        });

        $("body").on('change','#case-owner-input',function(evt) {

            var inputText = evt.target.value.trim();
            if(inputText.length==0)
            {
                document.getElementById('selected-owner').value = ""
                document.getElementById('in-list').value = -1
            }
            else
            {
                var indexInList = jQuery.inArray(inputText, results);
                if(indexInList == -1)
                {
                    document.getElementById('selected-owner').value = ""
                }
                document.getElementById('in-list').value = indexInList
            }
        });
    });
</script>