@model IList<ConcernsCaseWork.Models.HomeModel>

<table class="govuk-table">
	<caption class="govuk-table__caption govuk-table__caption--m">
		Your active casework
	</caption>
	<thead class="govuk-table__head">
	<tr class="govuk-table__row tr__large">
		<th class="govuk-table__header govuk-table__cell__cases" scope="col">
			Case ID
		</th>
		<th class="govuk-table__header govuk-table__cell__cases govuk-table__header--numeric" scope="col" aria-sort="none">
			Last updated
		</th>
		<th class="govuk-table__header govuk-table__cell__cases govuk-table__header--numeric" scope="col" aria-sort="none">
			Date created
		</th>
		<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_10" scope="col" aria-sort="none">
			Trust
		</th>
		<th class="govuk-table__header govuk-table__cell__cases" scope="col" aria-sort="none">
			Contents
		</th>
	</tr>
	</thead>
	<tbody class="govuk-table__body">
	@if (Model.Count == 0)
	{
		<tr class="govuk-table__row tr__large">
			<td class="govuk-table__cell__cases govuk-oneline-row">
				<span>There are no cases available.</span>
			</td>
		</tr>
	}
	else
	{
		foreach (var activeCase in Model.OrderByDescending(c => c.Created))
		{
			<tr class="govuk-table__row tr__large">
				<td class="govuk-table__cell">
					<a class="govuk-link" href="case/@activeCase.CaseUrn/management">@activeCase.CaseUrn</a>
				</td>
				<td class="govuk-table__cell">
					@activeCase.Updated
				</td>
				<td class="govuk-table__cell">
					@activeCase.Created
				</td>
				<td class="govuk-table__cell">
					@activeCase.TrustNameTitle
				</td>
				<td class="govuk-table__cell">
					<div class="concerns-secondary-text-colour">Concerns</div>
					<ul class="govuk-list govuk-list--bullet">
						@foreach (var record in activeCase.RecordsModel)
						{
							<li>
								@record.TypeModel.TypeDisplay
							</li>
						}
					</ul>
					<div class="concerns-secondary-text-colour">Risk to trust</div>
					<div class="govuk-label-wrapper">
						@for (var index = 0; index < activeCase.RatingModel.RagRating.Item2.Count; ++index)
						{
							<span class="govuk-tag ragtag @activeCase.RatingModel.RagRatingCss.ElementAt(index)">
								@activeCase.RatingModel.RagRating.Item2.ElementAt(index)
							</span>
						}</div>
				</td>
			</tr>
		}
	}
	</tbody>
</table>