@model ConcernsCaseWork.Models.TypeModel
@{
	var types = Model.TypesDictionary;
	var type = Model.Type;
	var subType = Model.SubType;
	var typeIndex = 1;
	var subTypeIndex = 1;
}

<legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>

<div class="govuk-radios" data-module="govuk-radios" data-testid="concern-type-container">
	@{
		foreach (var (key, value) in types)
		{
			// Include type urn at type level
			var hasSingleSubType = value.Any() && value.Count == 1;
			var firstSubType = value.First();
			var typeValue = hasSingleSubType ? firstSubType.Id + ":" + key : key;
			var strIdType = typeIndex == 1 ? "type" : "type-" + typeIndex;
			
			<div class="govuk-radios__item">
				<input class="govuk-radios__input" id="@strIdType" name="type"
				       type="radio" value="@typeValue" checked="@type.Equals(key)" data-aria-controls="conditional-@strIdType">
				<label class="govuk-label govuk-radios__label" for="@strIdType">
					@key
				</label>
			</div>
			
			@if (!hasSingleSubType)
			{
				<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-@strIdType">
					<div class="govuk-form-group">
						
						@foreach (var subtype in value)
						{
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="sub-type-@subTypeIndex" name="sub-type" type="radio" 
								       value="@subtype.Id:@subtype.SubType" checked="@subType.Equals(subtype.SubType)">
								@if (key.ToLower().Contains(subtype.SubType.ToLower()))
								{
								<label class="govuk-label govuk-radios__label" for="sub-type-@subTypeIndex">
									@subtype.SubType
								</label>
								}
								else
								{
								<label class="govuk-label govuk-radios__label" for="sub-type-@subTypeIndex">
									@key: @subtype.SubType
								</label>
								}
							</div>

							subTypeIndex++;
						}

					</div>
				</div>
			}
			
			typeIndex++;
		}
	}
</div>


