@using ConcernsCaseWork.Constants
@using ConcernsCaseWork.Models
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Hosting
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Configuration
@using NetEscapades.AspNetCore.SecurityHeaders

@inject IWebHostEnvironment _env
@inject IConfiguration Configuration

@{
    var notificationBannerMessage = Configuration["NotificationBannerMessage"];
    bool.TryParse(Configuration["ApplicationInsights:BrowserAnalyticsEnabled"], out bool enableAppInsightsBrowserAnalytics);
    var authenticatedUserId = Context.User.Identity is not null && Context.User.Identity.IsAuthenticated ? Context.User.Identity.Name ?? "Unknown" : "Anonymous";
}

<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
@{
    var nonce = Context.GetNonce();
    bool.TryParse(Context.Request.Cookies[CookieConstants.CookieConsentName], out bool hasConsented);

    var classCurrentPage = "dfe-header__navigation-item--current";

    var path = Context.Request.Path;

    var yourCasesTabCurrent = "";
    var otherCasesTabCurrent = "";
    var findTrustTabCurrent = "";

    var model = ViewBag.LayoutModel as LayoutModel;

    if (model != null)
    {
        yourCasesTabCurrent = model.YourCasesTabActive == true ? classCurrentPage : "";
        otherCasesTabCurrent = model.OtherCasesTabActive == true ? classCurrentPage : "";
        findTrustTabCurrent = model.FindTrustTabActive == true ? classCurrentPage : "";
    }
}
<head>
    @if (_env.IsProduction() && hasConsented)
    {
        <!-- Google Tag Manager -->
        <script nonce="@nonce">
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); let f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-NGC8DRV');
        </script>
        <!-- End Google Tag Manager -->
    }

    @if (hasConsented && enableAppInsightsBrowserAnalytics)
    {
        <!-- Application Insights -->
        <script type="text/javascript" integrity="sha384-g/ZkzetdQypWdY0NBZT5r2L3BR9/hURD8OBcd1rEaBpgX6QC7EaTL+o+mzWrBcXW" crossorigin="anonymous" src="https://js.monitor.azure.com/scripts/b/ext/ai.clck.2.8.18.min.js"></script>
        <script type="text/javascript" nonce="@nonce">
            @Html.Raw(JavaScriptSnippet.ScriptBody)
            // Load the Click analytics plugin
            var clickPluginInstance = new Microsoft.ApplicationInsights.ClickAnalyticsPlugin();
            window.appInsights.setAuthenticatedUserContext("@authenticatedUserId", null, true);
        </script>
        <!-- End Application insights -->
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="~/assets/images/govuk-opengraph-image.png">

    <link rel="manifest" href="/assets/rebrand/manifest.json?v=5.10.0">
    <link href="/assets/govuk-frontend-5.10.0.min.css" rel="stylesheet" media="all">
    <meta property="og:image" content="/assets/rebrand/images/govuk-opengraph-image.png">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="~/dist/css/site.css" />

    <title>@ViewData["Title"] - Record concerns and support for trusts - GOV.UK</title>
</head>
<body class="govuk-template__body js-enabled govuk-frontend-supported">
    <!-- Google Tag Manager (noscript) -->
    <noscript nonce="@nonce">
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGC8DRV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="~/dist/vendor/jquery.min.js" nonce="@nonce"></script>
    <script nonce="@nonce">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <partial name="_EnvironmentBanner" />

    <partial name="_CookiesBanner" />

    @if (!string.IsNullOrWhiteSpace(notificationBannerMessage))
    {
        <div class="govuk-extra-width-container">
            <div class="govuk-notification-banner govuk-!-margin-bottom-0" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p>
                        @notificationBannerMessage
                    </p>
                </div>
            </div>
        </div>
    }

    @* <partial name="_Header" /> *@

    <header class="govuk-header" role="banner" data-module="govuk-header" data-govuk-header-init="">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__logo">
                <a class="govuk-header__link govuk-header__link--homepage" href="/project-list">
                    <img src="/assets/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
                </a>
            </div>
        </div>
    </header>

    <section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container">
                <span class="govuk-service-navigation__service-name">
                    <a href="/" class="govuk-service-navigation__link">
                        Prepare conversions and transfers
                    </a>
                </span>
                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                    <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">
                        Menu
                    </button>
                    <ul class="govuk-service-navigation__list" id="navigation">
                        <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                            <a class="govuk-service-navigation__link" aria-current="true" href="/project-list">
                                <strong class="govuk-service-navigation__active-fallback">Conversions</strong>
                            </a>
                        </li>
                        <li class="govuk-service-navigation__item ">
                            <a class="govuk-service-navigation__link" href="/transfers/home">
                                Transfers
                            </a>
                        </li>
                        <li class="govuk-service-navigation__item ">
                            <a class="govuk-service-navigation__link" href="/form-a-mat/project-list">
                                Form a MAT
                            </a>
                        </li>
                        <li class="govuk-service-navigation__item ">
                            <a class="govuk-service-navigation__link" href="/groups/project-list">
                                Groups
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <div class="govuk-phase-banner">
        <div class="govuk-width-container">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service – your <a class="govuk-link" rel="noopener noreferrer" target="_blank">feedback<span class="govuk-visually-hidden"> (opens in new tab)</span></a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    @* <div class="container body-content"> *@
    @*     <div class="dfe-width-container govuk-phase-banner print-hide"> *@
    @*         <p class="govuk-phase-banner__content"> *@
    @*             <strong class="govuk-tag govuk-phase-banner__content__tag"> *@
    @*                 Beta *@
    @*             </strong> *@
    @*             <span class="govuk-phase-banner__text"> *@
    @*                 This is a new service – your <a class="govuk-link" rel="noopener noreferrer" target="_blank">feedback<span class="govuk-visually-hidden"> (opens in new tab)</span></a> will help us to improve it. *@
    @*             </span> *@
    @*         </p> *@
    @*     </div> *@
    @* </div> *@

    <br/>

    <header class="dfe-header" role="banner">
        <div class="dfe-width-container dfe-header__container">
            <div class="dfe-header__logo">
                <a class="dfe-header__link dfe-header__link--service " href="/" aria-label="DfE homepage">
                    <img src="/assets/dfe-logo.png" class="dfe-logo" alt="DfE Homepage">
                    <img src="/assets/dfe-logo-alt.png" class="dfe-logo-hover" alt="DfE Homepage">
                    <span class="dfe-header__service-name" data-testid="go-to-home">
                        Record concerns and support for trusts
                    </span>
                </a>
            </div>

            <div class="dfe-header__content" id="content-header">
                <div class="dfe-header__menu">
                    <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
                </div>

                @if (Context.User.Identity.IsAuthenticated)
                {
                    <ul class="dfe-header__action-links">
                        <li>
                            <a href="/logout" class="govuk-header__link dfe-sign-out">Sign out (@Context.User.Identity.Name)</a>
                        </li>
                    </ul>
                }
            </div>

        </div>
        <nav class="dfe-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
            <div class="dfe-width-container">
                <p class="dfe-header__navigation-title">
                    <span id="label-navigation">Menu</span>
                    <button class="dfe-header__navigation-close" id="close-menu">
                        <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                        </svg>
                        <span class="govuk-visually-hidden">Close menu</span>
                    </button>
                </p>
                <ul class="dfe-header__navigation-list">
                    <li class="dfe-header__navigation-item @yourCasesTabCurrent">
                        <a class="dfe-header__navigation-link govuk-!-font-size-19" href="/" data-testid="your-cases-tab">
                            Your cases
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="dfe-header__navigation-item @otherCasesTabCurrent">
                        <a class="dfe-header__navigation-link govuk-!-font-size-19" href="/TeamCasework" data-testid="team-casework-tab">
                            Other cases
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="dfe-header__navigation-item @findTrustTabCurrent">
                        <a class="dfe-header__navigation-link govuk-!-font-size-19" href="/trust">
                            Find a trust
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @await RenderSectionAsync("Scripts", required: false)

    @await RenderSectionAsync("SubHeading", required: false)

    <div class="dfe-width-container">
        @await RenderSectionAsync("BeforeMain", required: false)
    </div>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="dfe-width-container">
            @RenderBody()
        </div>
    </main>

    <partial name="_Footer" />

    <script src="~/dist/main.js" nonce="@nonce"></script>
    @* <script src="~/dist/dfefrontend/dfefrontend.js" nonce="@nonce"></script> *@
    <script src="~/dist/autocomplete/accessible-autocomplete.min.js" nonce="@nonce"></script>
    <script src="~/assets/govuk-frontend-5.10.0.min.js" asp-add-nonce></script>
</body>
</html>
