@using ConcernsCaseWork.API.Contracts.Configuration
@using ConcernsCaseWork.Constants
@using ConcernsCaseWork.Models
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Hosting
@using Microsoft.Extensions.Options
@using NetEscapades.AspNetCore.SecurityHeaders

@inject IWebHostEnvironment _env
@inject IOptions<SiteOptions> _siteOptions

<!DOCTYPE html>
<html class="govuk-template" lang="en">
@{
    var nonce = Context.GetNonce();
    bool.TryParse(Context.Request.Cookies[CookieConstants.CookieConsentName], out bool hasConsented);

    var classCurrentPage = "dfe-header__navigation-item--current";

    var path = Context.Request.Path;

    var yourCasesTabCurrent = "";
    var otherCasesTabCurrent = "";
    var findTrustTabCurrent = "";

    var model = ViewBag.LayoutModel as LayoutModel;

    if (model != null)
    {
        yourCasesTabCurrent = model.YourCasesTabActive == true ? classCurrentPage : "";
        otherCasesTabCurrent = model.OtherCasesTabActive == true ? classCurrentPage : "";
        findTrustTabCurrent = model.FindTrustTabActive == true ? classCurrentPage : "";
    }

    var notificationBannerMessage = _siteOptions.Value.NotificationBannerMessage;
}
<head>
    @if (_env.IsProduction() && hasConsented)
    {
        <!-- Google Tag Manager -->
        <script nonce="@nonce">
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); let f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-NGC8DRV');
        </script>
        <!-- End Google Tag Manager -->
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="~/assets/images/govuk-opengraph-image.png">


    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
    <link rel="stylesheet" href="~/dist/css/site.css" />

    <title>@ViewData["Title"] - Record concerns and support for trusts - GOV.UK</title>
    @Html.Raw(JavaScriptSnippet.FullScript)

</head>
<body class="govuk-template__body ">
    <!-- Google Tag Manager (noscript) -->
    <noscript nonce="@nonce">
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGC8DRV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="~/dist/vendor/jquery.min.js" nonce="@nonce"></script>
    <script nonce="@nonce">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div class="govuk-extra-width-container">
        <div class="govuk-phase-banner concerns-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service – your <a class="govuk-link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-YLQJBLL9YBFkLxTwHUdBrNUNjBMT0YzNU8xM0g3Q1BCVUFURUg2MTFSMy4u">feedback (opens in a new tab)</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
    <partial name="_EnvironmentBanner" />
    <partial name="_CookiesBanner" />
    @if (!string.IsNullOrWhiteSpace(notificationBannerMessage))
    {
        <div class="govuk-extra-width-container">
            <div class="govuk-notification-banner govuk-!-margin-bottom-0" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p>
                        @notificationBannerMessage
                    </p>
                </div>
            </div>
        </div>
    }
    <header class="dfe-header" role="banner">
        <div class="dfe-width-container dfe-header__container">
            <div class="dfe-header__logo">
                <a class="dfe-header__link dfe-header__link--service " href="/" aria-label="DfE homepage">
                    <img src="/assets/dfe-logo.png" class="dfe-logo" alt="DfE Homepage">
                    <img src="/assets/dfe-logo-alt.png" class="dfe-logo-hover" alt="DfE Homepage">
                    <span class="dfe-header__service-name" data-testid="go-to-home">
                        Record concerns and support for trusts
                    </span>
                </a>
            </div>

            <div class="dfe-header__content" id="content-header">
                <div class="dfe-header__menu">
                    <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
                </div>

                @if (Context.User.Identity.IsAuthenticated)
                {

                    <ul class="dfe-header__action-links">
                        <p class="govuk-body">
                            <a href="/logout" class="govuk-header__link dfe-sign-out">Sign out (@Context.User.Identity.Name)</a>
                        </p>
                    </ul>
                }

            </div>

        </div>
        <nav class="dfe-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
            <div class="dfe-width-container">
                <p class="dfe-header__navigation-title">
                    <span id="label-navigation">Menu</span>
                    <button class="dfe-header__navigation-close" id="close-menu">
                        <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                        </svg>
                        <span class="govuk-visually-hidden">Close menu</span>
                    </button>
                </p>
                <ul class="dfe-header__navigation-list">
                    <li class="dfe-header__navigation-item @yourCasesTabCurrent">
                        <a class="dfe-header__navigation-link govuk-!-font-size-19" href="/" data-testid="your-cases-tab">
                            Your cases
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="dfe-header__navigation-item @otherCasesTabCurrent">
                        <a class="dfe-header__navigation-link govuk-!-font-size-19" href="/TeamCasework" data-testid="team-casework-tab">
                            Other cases
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="dfe-header__navigation-item @findTrustTabCurrent">
                        <a class="dfe-header__navigation-link govuk-!-font-size-19" href="/trust">
                            Find a trust
                            <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @await RenderSectionAsync("Scripts", required: false)

    <div class="dfe-width-container">
        @await RenderSectionAsync("BeforeMain", required: false)
    </div>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="dfe-width-container">
            @RenderBody()
        </div>
    </main>

    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-heading-m">Get support</h2>
                    <div class="govuk-footer__meta-custom">
                        <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
                            <li>Email: <a class="govuk-link govuk-footer__link" href="mailto:regionalservices.rg@education.gov.uk?subject=Record%20concerns%20and%20support%20for%20trusts:%20Support%20query">regionalservices.rg<wbr>@@education.gov.uk</a></li>
                            <li>We aim to respond within 5 working days, or one working day for more urgent&nbsp;queries</li>
                        </ul>
                    </div>
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/accessibility" data-testid="accessibility-link">
                                Accessibility
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a data-testid="cookies-link" class="govuk-footer__link" href="/cookies">
                                Cookies
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/privacypolicy" data-testid="privacy-policy-link">
                                Privacy policy
                            </a>
                        </li>
                        @if (!_env.IsProduction())
                        {
                            <li class="govuk-footer__inline-list-item">
                                <a class="govuk-footer__link" href="/cleardata">
                                    Clear data
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-heading-m">Give feedback</h2>
                    <div class="govuk-footer__meta-custom govuk-footer__meta-custom-padded">
                        <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
                            <li><a class="govuk-link govuk-footer__link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-YLQJBLL9YBFkLxTwHUdBrNUNjBMT0YzNU8xM0g3Q1BCVUFURUg2MTFSMy4u" target="_blank">Give feedback on Record concerns and support for trusts (opens in a new tab)</a></li>
                        </ul>
                    </div>
                </div>

                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/dist/main.js" nonce="@nonce"></script>
    <script src="~/dist/dfefrontend/dfefrontend.js" nonce="@nonce"></script>
    <script src="~/dist/autocomplete/accessible-autocomplete.min.js" nonce="@nonce"></script>
</body>
</html>