@using ConcernsCaseWork.Models.CaseActions
@model IList<ConcernsCaseWork.Models.CaseActions.ActionSummary>

<table id="close-case-actions" class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row tr__large">
            <th class="govuk-table__header govuk-table__cell__cases" scope="col">
                Closed actions
            </th>
	        <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_15" scope="col">
	        </th>
	        <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_15" scope="col">
		        Date Opened
	        </th>
            <th class="govuk-table__header govuk-table__cell__cases govuk-table__header__right" scope="col">
                Date Closed
            </th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">
    @if (!Model.Any())
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="4">
                    There are no closed actions or decisions added to this case.
                </td>
            </tr>
        }
    
        @foreach (ActionSummary actionSummary in Model)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <a href="@actionSummary.RelativeUrl" class="govuk-link govuk-link-no-visited-state">
                        @actionSummary.Name
                    </a>
                </td>
                <td class="govuk-table__cell">
                    @actionSummary.StatusName
                </td>
                <td class="govuk-table__cell">
                    @actionSummary.OpenedDate
                </td>
                <td class="govuk-table__cell govuk-table__header__right">
                    @actionSummary.ClosedDate
                </td>
            </tr>
        }
    </tbody>
</table>