@model IList<ConcernsCaseWork.Models.MeansOfReferralModel>

<!--Means Of Referral radios-->
<div class="govuk-radios" data-module="govuk-radios">

	@{ var id = 0; }
	@foreach (var meansOfReferral in Model)
	{
		<div class="govuk-radios__item">
			@{ var idStr = id == 0 ? "means-of-referral-id" : "means-of-referral-id" + id; }
			<input class="govuk-radios__input" id="@idStr" name="means-of-referral-id" type="radio" value="@meansOfReferral.Id">
			<label class="govuk-label govuk-radios__label" for="@idStr">
				@meansOfReferral.Name 
			</label>
			<div class="govuk-hint govuk-radios__hint">
                @meansOfReferral.Description
            </div>
		</div>
		id++;
	}
	
</div>

