@model IList<ConcernsCaseWork.Models.RatingModel>

<!--Risk rating radios-->
<div class="govuk-radios" data-module="govuk-radios">

	@{ var id = 0; }
	@foreach (var rating in Model)
	{
		<div class="govuk-radios__item">
			@{ var idStr = id == 0 ? "rating" : "rating-" + id; }
			<input class="govuk-radios__input" id="@idStr" name="rating" type="radio" value="@rating.Id:@rating.Name" checked="@rating.Checked" data-testId="@rating.Name">
			<label class="govuk-label govuk-radios__label" for="@idStr">
				<div class="govuk-label-wrapper">
					@for (var index = 0; index < rating.RagRating.Item2.Count; ++index)
					{
						<span class="govuk-tag ragtag @rating.RagRatingCss.ElementAt(index)">
							@rating.RagRating.Item2.ElementAt(index)
						</span>
					}
				</div>
			</label>
		</div>
		id++;
	}
	
</div>