@model ConcernsCaseWork.Models.TrustDetailsModel

@{ 
//var trustContactNumber = !string.IsNullOrEmpty(Model.IfdData.TrustContactPhoneNumber) ? Model.IfdData.TrustContactPhoneNumber : "Visit trust website";//var trustContactNumber = !string.IsNullOrEmpty(Model.IfdData.TrustContactPhoneNumber) ? Model.IfdData.TrustContactPhoneNumber : "Visit trust website";
}

<dl class="govuk-summary-list summary-list-margin-0 govuk-!-margin-top-3">
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Type</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-type">
			@Model.GiasData.GroupType
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Address</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-address">
			@Model.GiasData.GroupContactAddress.DisplayAddress
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Number of academies</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-academies">
			@Model.Establishments.Count
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Total pupil capacity</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-pupil-capacity">
			@Model.TotalPupilCapacity
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Number of pupils</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-number-of-pupils">
			@Model.TotalPupils (@Model.PupilCapacityPercentage%)
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Group Id</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-group-id">
			@Model.GiasData.GroupId
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">UKPRN</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-UKPRN">
			@Model.GiasData.UkPrn
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Trust Phone Number</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-phone-number">
			@*@trustContactNumber*@
		</dd>
	</div>
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Companies House</dt>
		<dd class="govuk-summary-list__value" data-testid="trust-company-house-number">
			<a href="@Model.GiasData.CompaniesHouseWebsite" target="_blank">
				@Model.GiasData.CompaniesHouseNumber (opens in new tab)
			</a>
		</dd>
	</div>
</dl>