@model IList<ConcernsCaseWork.Models.TrustCasesModel>

<thead class="govuk-table__head">
<tr class="govuk-table__row tr__large">
	<th class="govuk-table__header govuk-table__cell__cases" scope="col">
		Case ID
	</th>
	<th class="govuk-table__header govuk-table__cell__cases" scope="col">
		Concern Types
	</th>
	<th class="govuk-table__header govuk-table__cell__cases" scope="col">
		Risk Rating
	</th>
	<th class="govuk-table__header govuk-table__cell__cases" scope="col">
		Date Created
	</th>
</tr>
</thead>

<tbody class="govuk-table__body">
@if (Model.Count == 0)
{
	<tr class="govuk-table__row tr__large">
		<td class="govuk-table__cell__cases govuk-oneline-row">
			<span>There are no cases available.</span>
		</td>
	</tr>
}
else
{
	foreach (var trustCase in Model)
	{
		<tr class="govuk-table__row tr__large">
			<td class="govuk-table__cell">
				<a class="govuk-link" href="/case/@trustCase.CaseUrn/management">@trustCase.CaseUrn</a>
			</td>
			<td class="govuk-table__cell">
				@foreach (var record in trustCase.RecordsModel)
				{
					<div class="govuk-!-padding-bottom-1">
						@record.TypeModel.TypeDisplay
					</div>
				}
			</td>
			<td class="govuk-table__cell govuk-label-wrapper">
				@for (var index = 0; index < trustCase.RatingModel.RagRating.Item2.Count; ++index)
				{
					<span class="govuk-tag ragtag @trustCase.RatingModel.RagRatingCss.ElementAt(index)">
						@trustCase.RatingModel.RagRating.Item2.ElementAt(index)
					</span>
				}
			</td>
			<td class="govuk-table__cell">
				@trustCase.Created
			</td>
		</tr>
	}
}
</tbody>
