@model ConcernsCaseWork.Models.TrustDetailsModel

<dl class="govuk-summary-list summary-list-margin-0 govuk-!-margin-top-3">
	<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Type</dt>
	<dd class="govuk-summary-list__value">
		@Model.IfdData.TrustType
	</dd>
	</div>

	<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Address</dt>
	<dd class="govuk-summary-list__value">
		@Model.GiasData.GroupContactAddress.DisplayAddress
	</dd>
	</div>
	<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Number of academies</dt>
	<dd class="govuk-summary-list__value">
		@Model.Establishments.Count
	</dd>
	</div>
	<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Total pupil capacity</dt>
	<dd class="govuk-summary-list__value">
		@Model.TotalPupilCapacity
	</dd>
	</div>
	<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Number of pupils</dt>
	<dd class="govuk-summary-list__value">
		@Model.TotalPupils (@Model.PupilCapacityPercentage%)
	</dd>
	</div>
	<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Group Id</dt>
	<dd class="govuk-summary-list__value">
		@Model.GiasData.GroupId
	</dd>
	</div>
	<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">UKPRN</dt>
	<dd class="govuk-summary-list__value">
		@Model.GiasData.UkPrn
	</dd>
	</div>
	<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Companies House</dt>
	<dd class="govuk-summary-list__value">
		<a href="@Model.GiasData.CompaniesHouseWebsite" target="_blank">
			@Model.GiasData.CompaniesHouseNumber
		</a>
	</dd>
	</div>
</dl>