@model Service.Redis.Models.CreateCaseModel

<h2 class="govuk-heading-m">@Model.TrustName</h2>

<dl class="govuk-summary-list">
	
	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Primary Concern</dt>
		<dd class="govuk-summary-list__value">
			@Model.RecordType
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Risk rating</dt>
		<dd class="govuk-summary-list__value govuk-label-wrapper">
			@for (var index = 0; index < Model.RagRating.Count; ++index)
			{
				<span class="govuk-tag ragtag @Model.RagRatingCss.ElementAt(index)">
					@Model.RagRating.ElementAt(index)
				</span>
			}
		</dd>
	</div>

	<div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Direction of travel</dt>
		<dd class="govuk-summary-list__value">
			@Model.DirectionOfTravel
		</dd>
	</div>

</dl>

