@using ConcernsCaseWork.API.Contracts.Configuration;
@using ConcernsCaseWork.Models;
@using NetEscapades.AspNetCore.SecurityHeaders;
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@model TrustOverviewModel
@{
    var nonce = Context.GetNonce();
}

<partial name="_TrustDetails" model="@Model.TrustDetailsModel" />
<partial name="_Academies" model="@Model.TrustDetailsModel.Establishments" />

<h2 class="govuk-heading-m">
    Cases and concerns
</h2>

@if (Model.CanCreateCase)
{
    <div class="govuk-button-group flexalign__right">
        <a class="govuk-button" href="/case/create/division" role="button" data-testid="create-case-button">
            Create a case
        </a>
    </div>
}

<nav class="moj-sub-navigation" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
            <a id="active-cases-tab" class="moj-sub-navigation__link" aria-expanded="true" aria-current="page" tabindex="0"><span aria-hidden="false"></span>Active Cases</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a id="closed-cases-tab" class="moj-sub-navigation__link" aria-expanded="false" tabindex="0"><span aria-hidden="true"></span>Closed Cases</a>
        </li>
    </ul>
</nav>

<div id="active-cases">
    <partial name="_TrustActiveCases" model="@Model.ActiveCaseSummaryGroupModel" />
</div>
<div id="closed-cases" hidden>
    <partial name="_TrustClosedCases" model="@Model.ClosedCaseSummaryGroupModel" />
</div>

<script type="application/javascript" nonce="@nonce">

    $(function () {
        onTabMove({ from: "closed", to: "active" });

        onTabMove({ from: "active", to: "closed" });

        function onTabMove(parameters) {
            const tabToHide = document.getElementById(`${parameters.from}-cases-tab`);
            const tableToHide = document.getElementById(`${parameters.from}-cases`);
            const tabToShow = document.getElementById(`${parameters.to}-cases-tab`);
            const tableToShow = document.getElementById(`${parameters.to}-cases`);

            if (tabToShow) {
                tabToShow.addEventListener("click", function() {
                    tableToShow.removeAttribute("hidden");
                    tabToShow.setAttribute("aria-expanded","true");
                    tabToShow.setAttribute("aria-current","page");
                    tableToHide.hidden = true;
                    tabToHide.removeAttribute("aria-current");
                });
            }
        }
    });

</script>