@page "/case/closed"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.Case.ClosedPageModel

@{
    ViewData["Title"] = "Closed cases";
	ViewData["BackButtonLink"] = "/#your-casework";
}

<div class="govuk-extra-width-container">
	<partial name="_BannerError"/>
	
	<div class="govuk-!-margin-top-0">

		@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
		{
			<partial name="_Error"/>
		}
		else
		{
			<!-- Closed cases -->
			<table class="govuk-table">
				<caption class="govuk-table__caption govuk-table__caption--m">
					Closed cases
				</caption>

				<thead class="govuk-table__head">
					<tr class="govuk-table__row tr__large">
						<th class="govuk-table__header govuk-table__cell__cases" scope="col">
							Case ID
						</th>
						<th class="govuk-table__header govuk-table__cell__cases govuk-table__header--numeric" scope="col" aria-sort="none">
							Date created
						</th>
						<th class="govuk-table__header govuk-table__cell__cases govuk-table__header--numeric" scope="col" aria-sort="none">
							Date closed
						</th>
						<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_10" scope="col" aria-sort="none">
							Trust
						</th>
						<th class="govuk-table__header govuk-table__cell__cases" scope="col" aria-sort="none">
							Contents
						</th>
					</tr>
				</thead>

				<tbody class="govuk-table__body">
				@if (Model.ClosedCases.Count == 0)
				{
					<tr class="govuk-table__row tr__large">
						<td class="govuk-table__cell__cases govuk-oneline-row">
							<span>There are no cases available.</span>
						</td>
					</tr>
				}
				else
				{
					foreach (var closedCase in Model.ClosedCases)
					{
						<tr class="govuk-table__row tr__large">
							<td class="govuk-table__cell">
								<a class="govuk-link" href="/case/@closedCase.CaseUrn/closed">@closedCase.CaseUrn</a>
							</td>
							<td class="govuk-table__cell">
								@closedCase.UpdatedAt
							</td>
							<td class="govuk-table__cell">
								@closedCase.CreatedAt
							</td>
							<td class="govuk-table__cell">
								@closedCase.TrustName
							</td>
						
						@if (!closedCase.ClosedConcerns.Any() && !closedCase.ClosedActionsAndDecisions.Any())
						{
							<td class="govuk-table__cell">
								<span>There are no active concerns, actions or decisions.</span>
							</td>
						}

						@if (!closedCase.ClosedConcerns.Any() && closedCase.ClosedActionsAndDecisions.Any())
						{
							<td class="govuk-table__cell">
								<div class="concerns-secondary-text-colour">Actions and decisions</div>
								<ul class="govuk-list govuk-list--bullet">
									@foreach (var action in closedCase.ClosedActionsAndDecisions)
									{
										<li>
											@action
										</li>
									}
								</ul>
								@if (closedCase.IsMoreActionsAndDecisions)
								{
									<span>and more</span>
								}
							</td>
						}
											
						@if (closedCase.ClosedConcerns.Any())
						{
							<td class="govuk-table__cell">
								<div class="concerns-secondary-text-colour">Concerns</div>
								<ul class="govuk-list govuk-list--bullet">
									@foreach (var concern in closedCase.ClosedConcerns)
									{
										<li>@concern</li>
									}
								</ul>
								<div class="concerns-secondary-text-colour">Risk to trust</div>
								<div class="govuk-label-wrapper">
									@for (var index = 0; index < closedCase.Rating.RagRating.Item2.Count; ++index)
									{
										<span class="govuk-tag ragtag @closedCase.Rating.RagRatingCss.ElementAt(index)">
											@closedCase.Rating.RagRating.Item2.ElementAt(index)
										</span>
									}
								</div>
							</td>
						}
						</tr>
					}
				}
				</tbody>
			</table>
		}
	</div>
</div>