@page "/case/details"
@model ConcernsCaseWork.Pages.Case.DetailsPageModel

@{
	ViewData["Title"] = "New Case Details";
}

<div class="govuk-width-container">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<span class="govuk-caption-l">Create case</span>
			<h1 class="govuk-heading-l">Concern </h1>

			@if (!string.IsNullOrEmpty((string) TempData.Peek("Error.Message")) ||
			     Model.TrustDetailsModel is null)
            {
	            <div class="moj-banner__message">
		            <p class="govuk-body">@TempData["Error.Message"]</p>
		        </div>
	            <script type="application/javascript">
	            	$(function () {
	            		showGlobalError();
					});
	            </script>
            }
			else
			{
				<!-- Trust details -->
				<a asp-page="index" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-top-6 float__right">Change trust</a>
				<h2 class="govuk-heading-m govuk-!-margin-top-9">Check trust details</h2>

				<dl class="govuk-summary-list">

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Name</dt>
						<dd class="govuk-summary-list__value">
							@Model.TrustDetailsModel.GiasData.GroupName
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Type</dt>
						<dd class="govuk-summary-list__value">
							<p class="govuk-body">
	                            @Model.TrustDetailsModel.GiasData.GroupTypeCode
	                        </p>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Address</dt>
						<dd class="govuk-summary-list__value">
							<p class="govuk-body">
								@Model.TrustDetailsModel.GiasData.GroupContactAddress.DisplayAddress
							</p>
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Region</dt>
						<dd class="govuk-summary-list__value">
							@Model.TrustDetailsModel.GiasData.GroupContactAddress.County
						</dd>
					</div>

					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">Companies House</dt>
						<dd class="govuk-summary-list__value">
							<a class="govuk-link" href="#">
								@Model.TrustDetailsModel.GiasData.CompaniesHouseNumber
							</a>
						</dd>
					</div>

				</dl>
				
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>
				
				<h2 class="govuk-heading-m govuk-!-margin-top-9">Concern type</h2>
				                                                                                                                                                          
				<!-- FORM -->
				<form role="form" method="post" id="case-type-form" novalidate>
					<!--Trust UkPrn-->
					<input type="hidden" name="trust-Ukprn" value="@Model.TrustDetailsModel.GiasData.UkPrn">
					
					<!--Q Concern type-->
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">

							<legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
								What type of Concern is it?
							</legend>

							<div class="govuk-hint" id="case-issue-hint">
								Use the <a target="_blank" href="@Url.Page("../FileResource", "DownloadRiskManagementPdf")" class="govuk-link" rel="noreferrer noopener">Risk Management Framework (opens in new tab)</a> to assess the type of Concern
							</div>

							<partial name="_ConcernType" model="Model.TypesDictionary"></partial>
							
						</fieldset>
					</div>
					
					<!-- Q Risk rating -->
					<div class="govuk-form-group govuk-!-margin-top-6">
						<fieldset class="govuk-fieldset">

							<legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
								What is the risk rating?
							</legend>

							<!--Risk rating radios-->
							<div class="govuk-radios" data-module="govuk-radios">

								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="riskRating" name="riskRating" type="radio" value="Amber-Green">
									<label class="govuk-label govuk-radios__label" for="riskRating">
										<div class="govuk-label-wrapper">
											<span class="govuk-tag ragtag ragtag__amber">Amber</span>
											<span class="govuk-tag ragtag ragtag__green">Green</span>
										</div>
									</label>
								</div>

								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="riskRating-1" name="riskRating" type="radio" value="Red-Amber">
									<label class="govuk-label govuk-radios__label" for="riskRating-1">
										<div class="govuk-label-wrapper">
											<span class="govuk-tag ragtag ragtag__red">Red</span>
											<span class="govuk-tag ragtag ragtag__amber">Amber</span>
										</div>
									</label>
								</div>

								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="riskRating-2" name="riskRating" type="radio" value="Red">
									<label class="govuk-label govuk-radios__label" for="riskRating-2">
										<div class="govuk-label-wrapper">
											<span class="govuk-tag ragtag ragtag__red">Red</span>
										</div>
									</label>
								</div>

								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="riskRating-3" name="riskRating" type="radio" value="Red-Plus">
									<label class="govuk-label govuk-radios__label" for="riskRating-3">
										<div class="govuk-label-wrapper">
											<span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
										</div>
									</label>
								</div>

							</div>

						</fieldset>
					</div>

					<h2 class="govuk-heading-m govuk-!-margin-top-9">Initial details</h2>
					<div id="initial-details-hint" class="govuk-hint">
						You will have an opportunity to enter more details on the final case page.
					</div>

					<!-- Q Issue -->
					<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="issue-detail">
								Issue
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info"></textarea>
						</div>

						<div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>

					<!-- Q Current status -->
					<div class="govuk-character-count govuk-!-margin-top-6" data-module="govuk-character-count" data-maxlength="1000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="current-status-detail">
								Current status <span class="govuk-body">(optional)</span>
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="current-status-detail" name="current-status-detail" rows="3" aria-describedby="case-status-info"></textarea>
						</div>

						<div id="case-status-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>

					<!-- Q Next steps -->
					<div class="govuk-character-count govuk-!-margin-top-6" data-module="govuk-character-count" data-maxlength="1000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="next-steps-detail">
								Next steps <span class="govuk-body">(optional)</span>
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="next-steps-detail" name="next-steps-detail" rows="3" aria-describedby="next-steps-detail-info"></textarea>
						</div>

						<div id="next-steps-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>

					<!-- Q Resolution strategy-->
					<div class="govuk-character-count govuk-!-margin-top-6" data-module="govuk-character-count" data-maxlength="1000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="resolution-strategy-detail">
								Case resolution <span class="govuk-body">(optional)</span>
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="resolution-strategy-detail" name="resolution-strategy-detail" rows="3" aria-describedby="resolution-strategy-info"></textarea>
						</div>

						<div id="resolution-strategy-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>
					
					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
							Next step
						</button>
						<a class="govuk-link" asp-page="../home">Cancel</a>
					</div>

				</form>
				
				<script type="application/javascript">
					$(function () {
						let caseTypeForm = $("#case-type-form");		
						const validator = new MOJFrontend.FormValidator(caseTypeForm[0]);
						validator.addValidator('type', [{
							method: function(field) {
								return field.value.trim().length > 0;
							},
							message: 'Select concern type'
						}, {
							method: function() {
								let typeChecked = $('input[name="type"]:checked');
								if (typeChecked !== undefined) {
									let typeAriaControl = typeChecked.attr('aria-controls');
									if (typeAriaControl !== undefined) {
										let concernAriaControlElem = $("#" + typeAriaControl + "");
										let subTypeChildren = concernAriaControlElem.find("input[name='subType']");
										if (subTypeChildren.length > 0) {
											let subTypeChecked = concernAriaControlElem.find("input[name='subType']:checked");
											if (subTypeChecked.length === 0) {
												return false;	
											}
										}
									}
								}
								
								return true;
						  	},
						  	message: 'Select concern sub type'
						}]);
						validator.addValidator('riskRating', [{
							method: function(field) {
								return field.value.trim().length > 0;
							},
							message: 'Select risk rating'
					 	}]);
						validator.addValidator('issue-detail', [{
							method: function(field) {
								return field.value.trim().length > 0;
							},
							message: 'Issue is required'
						}]);
						
						
						let multipleFields = document.querySelectorAll('.concern-auto-resize');
						for(let i = 0; i < multipleFields.length; i++){
							multipleFields[i].addEventListener('input', autoResizeHeight);
						}
						// auto resize multiple textarea
						function autoResizeHeight() {							
							this.style.height="auto";
						  	this.style.height= this.scrollHeight + "px";
						  	
							if ($("#" + this.id + "").val().length > 0) {
								this.style.borderColor="green";
							} else {
								this.style.borderColor="black";
							}
						}
					});
				</script>
			}
		</div>
	</div>
</div>