@page "/case/rating/{urn:long?}/{handler?}"
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@using ConcernsCaseWork.Extensions
@model ConcernsCaseWork.Pages.Case.RatingPageModel

@{
    ViewData["Title"] = "Add risk to trust";
    var heading = Model.CaseUrn.HasValue ? "Add to case" : "Create a case";
    var nonce = HttpContext.GetNonce();

    var errors = ViewData.ModelState.ToValidationResult();

    ModelValidationState ratingValidationState = ViewData.ModelState.GetFieldValidationState("YesCheckedRagRational");
    ModelValidationState rationalCommentryValidationState = ViewData.ModelState.GetFieldValidationState("RatingRationalCommentary");

    var elementRootId = "rag-rational";
    var rationYesCommentaryMaxLength = 200;
}

<partial name="_BannerError" />

@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
{
    <partial name="_Error" />
}
else
{
    <partial name="_ValidationErrors" />

    <span class="govuk-caption-l">@heading</span>

    <h1 class="govuk-heading-l">Risk to trust</h1>

    <!-- Trust details -->
    <dl class="govuk-summary-list">
        <partial name="_TrustSummary" model="Model.TrustDetailsModel" />
        <partial name="_ManagedBySummary" model="Model.CreateCaseModel" />
        <partial name="_RecordsSummary" model="Model.CreateRecordsModel" />
    </dl>

    <!-- FORM -->
    <form method="post" id="case-rating-form" novalidate>

        <!-- Q Risk rating -->
        <div class="govuk-form-group govuk-!-margin-top-6">
            <fieldset class="govuk-fieldset">
                <partial name="Components/_RadioList" model="Model.RiskToTrust" />
            </fieldset>
        </div>

        <!-- Risk rational -->
        <div class="govuk-form-group" id="container-@elementRootId">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-heading-m">
                    Do you have the RAG rationale commentary now?
                </h2>
            </legend>

            @if (ratingValidationState == ModelValidationState.Invalid)
            {
                <span class="govuk-error-message">Select RAG rationale commentary</span>
            }

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input asp-for="@Model.YesCheckedRagRational" class="govuk-radios__input" type="radio" value="false" id="radio-no" data-testid="rational-radio-no">
                    <label class="govuk-label govuk-radios__label" for="radio-no">
                        No, the RAG rationale commentary is not available yet
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input asp-for="@Model.YesCheckedRagRational" class="govuk-radios__input" type="radio" value="true" aria-controls="conditional-annexBsaved" id="radio-yes" data-testid="rational-radio-yes">
                    <label class="govuk-label govuk-radios__label" for="radio-yes">
                        Yes
                    </label>
                </div>

                <div class="govuk-radios__conditional" id="conditional-annexBsaved" data-cy="select-rag-rational-option">
                    <div class="govuk-form-group @ModelState.GetErrorStyleClass()">
                        <label class="govuk-label" for="application-form-url">
                            RAG rationale commentary
                        </label>

                        <div class="govuk-character-count" data-module="govuk-concerns-character-count" data-maxlength="@rationYesCommentaryMaxLength">
                            @if (rationalCommentryValidationState == ModelValidationState.Invalid)
                            {
                                <span class="govuk-error-message">Select RAG rationale commentary</span>
                            }
                            
                            <textarea asp-for="@Model.RatingRationalCommentary"
                                      class="govuk-textarea @ModelState.GetTextAreaErrorStyles(nameof(Model.RatingRationalCommentary)) govuk-js-concerns-character-count"
                                      id="@elementRootId"
                                      data-testid="rag-rational-commentary"
                                      rows="5"
                                      aria-describedby="RAG rationale commentary"
                                      data-cy="select-risk-to-trust-rational"
                                      aria-label="text-area-for-risk-to-trust-rational">
                            </textarea>

                            <div id="@elementRootId-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                You can enter up to @rationYesCommentaryMaxLength characters
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-button-group">
            <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" data-testId="next-step-button">
                Next step
            </button>
            <a data-prevent-double-click="true" href="/" class="govuk-link" data-module="govuk-button" role="button">
                Cancel
            </a>
        </div>
    </form>
}
