@page "/case/{urn:long}/closed"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@using ConcernsCaseWork.Extensions
@using ConcernsCaseWork.Helpers;
@model ConcernsCaseWork.Pages.Case.ViewClosedPageModel

@{
    ViewData["Title"] = "View Closed case";
    var nonce = HttpContext.GetNonce();
}

@section BeforeMain {
	<div class="govuk-width-container">
		<back-link url="@Model.BackLink.Url" label="@Model.BackLink.Label"></back-link>
	</div>
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <h1 class="govuk-heading-l" name="caseID">
                    <span class="govuk-caption-m">Case ID</span>
                    @Model.CaseModel.Urn
                </h1>

                <h2 class="govuk-heading-m">@Model.TrustDetailsModel.GiasData.GroupNameTitle</h2>

                <dl class="govuk-summary-list summary-list-margin-0 govuk-!-margin-top-6">

                    <!-- Concern -->
                    <div class="govuk-summary-list__row">
	                    <dt class="dfe-width-30percent govuk-summary-list__key">
		                    Concerns
	                    </dt>
	                    <dd class="govuk-summary-list__value" data-testid="concerns_field">
		                    @foreach (var recordModel in Model.CaseModel.RecordsModel)
		                    {
			                    <p class="govuk-body caseDetail_type">
				                    @recordModel.TypeModel.TypeDisplay
			                    </p>
		                    }
	                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="dfe-width-30percent govuk-summary-list__key">
                            SFSO territory
                        </dt>
                        <dd class="govuk-summary-list__value" data-testid="territory_field">
                            @if (Model.CaseModel.Territory == null)
                            {
                                <span class='govuk-tag ragtag ragtag__grey'>Empty</span>
                            }
                            else
                            {
                                @Model.CaseModel.Territory?.Description()
                            }
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="dfe-width-30percent govuk-summary-list__key">
                            Case Worker
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.CaseModel.CreatedBy.FromEmailToFullName()
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="dfe-width-30percent govuk-summary-list__key">
                            Date created
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @DateTimeHelper.ParseToDisplayDate(Model.CaseModel.CreatedAt)
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="dfe-width-30percent govuk-summary-list__key">
                            Date closed
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @DateTimeHelper.ParseToDisplayDate(Model.CaseModel.ClosedAt!.Value)
                        </dd>
                    </div>
                </dl>

                <!--Accordions-->
                <h2 class="govuk-heading-m govuk-!-margin-top-6">Concern details</h2>
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
	                <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Issue</span>
                            </h2>
                        </div>
                        <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content govuk-!-margin-top-3 govuk-!-margin-bottom-6" id="accordion-default-content-1" data-testid="issue_field">
                            <div class="govuk-body details govuk-body-accordion-limit">
                                <span class="dfe-text-area-display">@Model.CaseModel.Issue</span>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Current status</span>
                            </h2>
                        </div>
                        <div aria-labelledby="accordion-default-heading-2" class="govuk-accordion__section-content govuk-!-margin-top-3 govuk-!-margin-bottom-6" id="accordion-default-content-2" data-testid="status_field">
                            <div class="govuk-body details govuk-body-accordion-limit">
                                <span class="dfe-text-area-display">@Model.CaseModel.CurrentStatus</span>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Case aim</span>
                            </h2>
                        </div>
                        <div aria-labelledby="accordion-default-heading-3" class="govuk-accordion__section-content govuk-!-margin-top-3 govuk-!-margin-bottom-6" id="accordion-default-content-3" data-testid="case_aim_field">
                            <div class="govuk-body details govuk-body-accordion-limit">
                                <span class="dfe-text-area-display">@Model.CaseModel.CaseAim</span>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">De-escalation point</span>
                            </h2>
                        </div>
                        <div aria-labelledby="accordion-default-heading-4" class="govuk-accordion__section-content govuk-!-margin-top-3 govuk-!-margin-bottom-6" id="accordion-default-content-4" data-testid="deescalation_point_field">
                            <div class="govuk-body details govuk-body-accordion-limit">
                                <span class="dfe-text-area-display">@Model.CaseModel.DeEscalationPoint</span>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-5">Next steps</span>
                            </h2>
                        </div>
                        <div aria-labelledby="accordion-default-heading-5" class="govuk-accordion__section-content govuk-!-margin-top-3 govuk-!-margin-bottom-6" id="accordion-default-content-5" data-testid="next_step_field">
                            <div class="govuk-body details govuk-body-accordion-limit">
                                <span class="dfe-text-area-display">@Model.CaseModel.NextSteps</span>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-5">Case History</span>
                            </h2>
                        </div>
                        <div aria-labelledby="accordion-default-heading-5" class="govuk-accordion__section-content govuk-!-margin-top-3 govuk-!-margin-bottom-6" id="accordion-default-content-5" data-testid="case_history_field">
                            <div class="govuk-body details govuk-body-accordion-limit">
                                <span class="dfe-text-area-display">@Model.CaseModel.CaseHistory</span>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-6">Rationale for closure</span>
                            </h2>
                        </div>
                        <div aria-labelledby="accordion-default-heading-6" class="govuk-accordion__section-content govuk-!-margin-top-3 govuk-!-margin-bottom-6" id="accordion-default-content-6" data-testid="rational_for_closure_field">
                            <div class="govuk-body details govuk-body-accordion-limit">
                                <span class="dfe-text-area-display">@Model.CaseModel.ReasonAtReview</span>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div>
            <partial name="Shared/_ListClosedActionsForCase" model="Model.CaseActions" />
        </div>
    </div>
</div>