@page "/case/{urn:long}/management/record/{recordId:long}/edit_rating"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.Concern.EditRatingPageModel

@{
	ViewData["Title"] = "Edit Risk rating";
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column">

			<h1 class="govuk-heading-l">
				<span class="govuk-caption-l">Case ID @Model.CaseModel.Urn</span>
				Edit Concern
			</h1>

			@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
            	<partial name="_Error"/>
            }
			else
			{

				<dl class="govuk-summary-list summary-list-margin-0 govuk-!-margin-top-6">

					<!-- Trust -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Trust
						</dt>
						<dd class="govuk-summary-list__value">
							@Model.TrustDetailsModel.GiasData.GroupName
						</dd>
						<dd class="govuk-summary-list__actions"></dd>
					</div>

					<!-- Concern -->
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Concern
						</dt>
						<dd class="govuk-summary-list__value">
							@Model.TypeModel.TypeDisplay
						</dd>
						<dd class="govuk-summary-list__actions"></dd>
					</div>
				</dl>

				<h2 class="govuk-heading-m govuk-!-margin-top-6">Concern risk rating
					<a href="@Request.Path/closure" data-testid="close-concern-button" role="button" class="govuk-button govuk-button--warning float__right" data-module="govuk-button">
						Close concern
					</a>
				</h2>

				<div class="govuk-hint" id="case-issue-hint">
					Use the
					<a target="_blank" href="@Url.Page("../../../FileResource", "DownloadRiskManagementPdf")" class="govuk-link" rel="noreferrer noopener">
						Risk Management Framework (opens in new tab)
					</a> to assess the type of Concern
				</div>

				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

				<form role="form" asp-page-handler="editRiskRating" method="post" id="risk-rating-form" novalidate>

					<input type="hidden" value="@Model.CaseModel.PreviousUrl" name="url"/>

					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
							<partial name="_Rating" model="@Model.RatingsModel"/>
						</fieldset>
					</div>

					<!--Button group-->
					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
							Apply
						</button>
						<partial name="_Cancel"/>
					</div>
				</form>

				<script type="application/javascript" nonce="@nonce">
					$(function () {	
						let validator = formValidator($("#risk-rating-form")[0]);
						addRatingValidator(validator);
					});
				</script>
			}
		</div>
	</div>
</div>