@page "/case/{urn:long}/management/concern/{handler?}"
@using ConcernsCaseWork.Constants;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.Concern.IndexPageModel

@{
	ViewData["Title"] = "New Case Concern";
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>
	
	<span class="govuk-caption-l">Management case</span>
	<h1 class="govuk-heading-l">Concerns</h1>

	@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
	{
		<partial name="_Error" />
	}
	else
	{
		<!-- Trust summary and records -->
		<dl class="govuk-summary-list">
			<partial name="_TrustSummary" model="Model.TrustDetailsModel"/>
			<partial name="_RecordsSummary" model="Model.CreateRecordsModel"/>
		</dl>
		
		<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

		<h2 class="govuk-heading-m govuk-!-margin-top-6">Select concern</h2>
		
		<!-- FORM -->
		<form role="form" method="post" id="case-concern-form" novalidate>
			
			<input type="hidden" value="@Model.PreviousUrl" name="url"/>
			
			<!--Q Concern type-->
			<div class="govuk-form-group govuk-!-margin-top-6">
				<fieldset class="govuk-fieldset">

					<div class="govuk-hint" id="case-issue-hint">
						Use the
                        <a target="_blank" href="@ResourceConstants.RiskManagementFrameworkLink" class="govuk-link" rel="noreferrer noopener">
							Risk Management Framework (opens in new tab)
						</a> to assess the type of Concern
					</div>

					<partial name="_Concern" model="@Model.TypeModel" />

				</fieldset>
			</div>

			<!-- Q Risk rating -->
			<div class="govuk-form-group govuk-!-margin-top-6">
				<fieldset class="govuk-fieldset">

					<legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
						Select concern risk rating
					</legend>

					<partial name="_Rating" model="@Model.RatingsModel" />

				</fieldset>
			</div>
			
			<!-- Q Means of Referral -->
			<div class="govuk-form-group govuk-!-margin-top-6">
				<fieldset class="govuk-fieldset">

					<legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
						Means of referral
					</legend>

					<partial name="_MeansOfReferral" model="@Model.MeansOfReferralModel" />

				</fieldset>
			</div>

			<div class="govuk-button-group">
				<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" data-testid="add-concern-button">
					Add concern
				</button>
				<a data-prevent-double-click="true" class="govuk-link" href="@Model.PreviousUrl" data-module="govuk-button" role="button">
					Cancel
				</a>
			</div>

		</form>
		
		<script type="application/javascript" nonce="@nonce">
			$(function () {
				let validator = formValidator($("#case-concern-form")[0]);
				addConcernValidator(validator);
				addRatingValidator(validator);
				addMeansOfReferralValidator(validator);
			});
		</script>
	}
</div>