@page "/case/{urn:long}/management/action/decision/addOrUpdate/{decisionId:long?}"
@model ConcernsCaseWork.Pages.Case.Management.Action.Decision.AddPageModel;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using NetEscapades.AspNetCore.SecurityHeaders;
@using ConcernsCaseWork.Helpers;

@{
    var nonce = HttpContext.GetNonce();

    var decisionsValidationErrors = TempData["Decision.Message"] as IEnumerable<string>;
}

<div class="govuk-width-container">
    <back-link url="/case/@RouteData.Values["urn"]/management" label="Back to case"></back-link>
</div>

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @RouteData.Values["urn"]</span>
                    Decision
                </h1>

                <form method="post" id="add-decision-form" novalidate>

                    <input type="hidden" name="Decision.ConcernsCaseUrn" value="@RouteData.Values["urn"]" />

                    @* CRM Enquiry Number *@
                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">Is this decision linked to a CRM case?</h2>
                            </legend>

                            <div id="crm-enquiry-hint" class="govuk-hint">
                                If yes, paste the CRM enquiry number below. If no, leave the field blank
                            </div>

                            <input class="govuk-input govuk-input--width-30" id="crm-enquiry-number" name="Decision.CrmCaseNumber" type="text" value="@Model.Decision.CrmCaseNumber">
                        </fieldset>
                    </div>

                    <div class="govuk-form-group govuk-!-margin-top-9">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">Is this a request that requires retrospective approval?</h2>
                            </legend>
                            <div id="retrospective-approval-hint" class="govuk-hint">
                                Retrospective approval is needed when a trust or academy makes a change or action before asking SFSO or RG.
                            </div>
                            <div class="govuk-radios" data-module="govuk-radios">
                                @{
                                    var retrospectiveApprovalYesChecked = Model.Decision.RetrospectiveApproval.HasValue && Model.Decision.RetrospectiveApproval.Value ? "checked" : "";
                                    var retrospectiveApprovalNoChecked = Model.Decision.RetrospectiveApproval.HasValue && !Model.Decision.RetrospectiveApproval.Value ? "checked" : "";
                                }

                                <div class="govuk-radios__item">

                                    <input class="govuk-radios__input" id="retrospective-approval-yes" name="Decision.RetrospectiveApproval" type="radio" value="true" @retrospectiveApprovalYesChecked>

                                    <label class="govuk-label govuk-radios__label" for="retrospective-approval-yes">
                                        <span>
                                            Yes
                                        </span>
                                    </label>
                                </div>

                                <div class="govuk-radios__item">

                                    <input class="govuk-radios__input" id="retrospective-approval-no" name="Decision.RetrospectiveApproval" type="radio" value="false" @retrospectiveApprovalNoChecked>

                                    <label class="govuk-label govuk-radios__label" for="retrospective-approval-no">
                                        <span>
                                            No
                                        </span>
                                    </label>
                                </div>

                            </div>
                        </fieldset>
                    </div>

                    @* Submission required *@
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="submission-required-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">Is a submission required?</h2>
                            </legend>
                            <div id="submission-required-hint" class="govuk-hint">
                                Find more information on submissions and templates at <a href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Submissions%20templates%20and%20guidance.aspx" target="_blank">SFSO Knowledge: Submissions</a>
                            </div>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">

                                    @{
                                        var submissionRequiredYesChecked = Model.Decision.SubmissionRequired.HasValue && Model.Decision.SubmissionRequired.Value ? "checked" : "";
                                        var submissionRequiredNoChecked = Model.Decision.SubmissionRequired.HasValue && !Model.Decision.SubmissionRequired.Value ? "checked" : "";
                                    }

                                    <input class="govuk-radios__input" id="submission-required-yes" name="Decision.SubmissionRequired" type="radio" value="true" @submissionRequiredYesChecked>

                                    <label class="govuk-label govuk-radios__label" for="submission-required-yes">
                                        Yes
                                    </label>
                                </div>

                                <div class="govuk-radios__item">

                                    <input class="govuk-radios__input" id="submission-required-no" name="Decision.SubmissionRequired" type="radio" value="false" @submissionRequiredNoChecked>

                                    <label class="govuk-label govuk-radios__label" for="submission-required-no">
                                        <span>
                                            No
                                        </span>
                                    </label>
                                </div>

                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="submission-required-link">
                                        If yes, paste in a link to the submission document on Sharepoint.
                                    </label>
                                    <input class="govuk-input govuk-input--width-30" id="submission-document-link" name="Decision.SubmissionDocumentLink" type="text" value="@Model.Decision.SubmissionDocumentLink">
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    @* Date request received *@
                    <partial name="Components/_DateTime" model="Model.ReceivedRequestDate" />

                    @* Types *@
                    <div class="govuk-form-group govuk-!-margin-top-6">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">What type of decision is it?</h2>
                            </legend>

                            <div id="decision-type-hint" class="govuk-hint">
                                Select all types that apply. Find decisions by type at <a href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Home.aspx" target="_blank">SFSO Knowledge (opens in a new tab)</a> for more information.
                            </div>
                            <br>

                            @foreach (var decisionTypeCheckbox in Model.DecisionTypeCheckBoxes)
                            {
                                var isChecked = Model.Decision.DecisionTypes.Any(q => q.Id == decisionTypeCheckbox.DecisionTypeQuestion.Id);

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="@decisionTypeCheckbox.DecisionTypeQuestion.Id" name="DecisionTypes" type="checkbox" value="@decisionTypeCheckbox.DecisionTypeQuestion.Id" checked="@isChecked">
                                    <label class="govuk-label govuk-checkboxes__label" for="@decisionTypeCheckbox.DecisionTypeQuestion.Id">
                                        @EnumHelper.GetEnumDescription(decisionTypeCheckbox.DecisionTypeQuestion.Id)


                                        <div id="@decisionTypeCheckbox.DecisionTypeQuestion.Id-hint" class="govuk-hint">
                                            @decisionTypeCheckbox.Hint
                                        </div>
                                    </label>
                                </div>
                            }
                        </fieldset>
                    </div>

                    @* Total amount requested *@
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="submission-required-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">What was the total amount requested? </h2>
                            </legend>
                            <div id="total-amount-request-hint" class="govuk-hint">
                                If no amount was requested, enter £0.
                            </div>
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                <input class="govuk-input govuk-input--width-6"
                                       id="total-amount-request"
                                       name="Decision.TotalAmountRequested"
                                       type="text"
                                       value="@Model.Decision.TotalAmountRequested">
                            </div>
                        </fieldset>
                    </div>

                    @* Notes *@
                    <partial name="Components/_TextArea" model="Model.Notes" />

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-decision-button" name="action">
                            @Model.SaveAndContinueButtonText
                        </button>

                        <partial name="_Cancel" />
                    </div>
                </form>

                <script type="application/javascript" nonce="@nonce">

                    function formatCurrency(element) {

                        let currencyFormatter = new Intl.NumberFormat("en-GB", {
                            style: "currency",
                            currency: "GBP"
                        });

                        const onlyNumbersRegex = /[^\d\.]/g;

                        const amount = element.val().replace(onlyNumbersRegex, "");

                        const formattedCurrency = currencyFormatter.format(amount).replace("£", "");
                        element.val(formattedCurrency);
                    }

                    $(function () {

                        $totalAmountRequestedObj = $('#total-amount-request');

                        $(document).ready(function() {
                            formatCurrency($totalAmountRequestedObj);
                        });

                        $totalAmountRequestedObj.focusout(function () {
                            formatCurrency($totalAmountRequestedObj);
                        });

                        var submitButton = $('#add-decision-button')[0];
                        disableOnSubmit(submitButton);
                    });
                </script>
            }

        </div>
    </div>
</div>
