@page "/case/{urn:long}/management/action/decision/addOrUpdate/{decisionId:long?}"
@model ConcernsCaseWork.Pages.Case.Management.Action.Decision.AddPageModel;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using NetEscapades.AspNetCore.SecurityHeaders;
@using ConcernsCaseWork.Helpers;

@{
    var nonce = HttpContext.GetNonce();

    var decisionsValidationErrors = TempData["Decision.Message"] as IEnumerable<string>;
}

@section BeforeMain {
    <div class="govuk-width-container">
        <back-link url="/case/@RouteData.Values["urn"]/management" label="Back to case"></back-link>
    </div>
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @RouteData.Values["urn"]</span>
                    Decision
                </h1>

                <form method="post" id="add-decision-form" novalidate>

                    <input type="hidden" name="Decision.ConcernsCaseUrn" value="@RouteData.Values["urn"]" />

                    <partial name="Components/_RadioList" model="Model.HasCrmCase" />

                    @* CRM Enquiry Number *@
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div id="crm-enquiry-hint" class="govuk-hint">
                                If yes, paste the CRM enquiry number below. If no, leave the field blank.
                            </div>

                            <input class="govuk-input govuk-input--width-30" id="crm-enquiry-number" name="Decision.CrmCaseNumber" type="text" value="@Model.Decision.CrmCaseNumber" aria-label="Is this decision linked to a CRM case">
                        </fieldset>
                    </div>

                    <partial name="Components/_RadioList" model="Model.RetrospectiveApproval" />

                    <partial name="Components/_RadioList" model="Model.IsSubmissionRequired" />

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="submission-required-link">
                            If yes, paste in a link to the submission document on Sharepoint.
                        </label>
                        <input class="govuk-input govuk-input--width-30" id="submission-document-link" name="Decision.SubmissionDocumentLink" type="text" value="@Model.Decision.SubmissionDocumentLink" aria-label="If submission is required, paste in a link to the submission document on Sharepoint">
                    </div>

                    @* Date request received *@
                    <partial name="Components/_DateTime" model="Model.ReceivedRequestDate" />

                    @* Types *@
                    <div class="govuk-form-group govuk-!-margin-top-6">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">What type of decision is it?</h2>
                            </legend>

                            <div id="decision-type-hint" class="govuk-hint">
                                Select all types that apply. Find more information on decision types at <a href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Home.aspx" target="_blank">SFSO Knowledge (opens in a new tab)</a>.
                            </div>
                            <br>

                            @foreach (var decisionTypeQuestion in Model.DecisionTypeQuestions)
                            {
                                <div class="govuk-checkboxes__item">

                                    <input type="hidden" name="DecisionTypeQuestions.Index" value="@decisionTypeQuestion.Id">
                                    <input class="govuk-checkboxes__input" id="@decisionTypeQuestion.Id" name="@decisionTypeQuestion.Name" type="checkbox" value="@decisionTypeQuestion.Id" checked="@decisionTypeQuestion.IsChecked">
                                    <label class="govuk-label govuk-checkboxes__label" for="@decisionTypeQuestion.Id">
                                        @EnumHelper.GetEnumDescription(decisionTypeQuestion.Id)
                                        <div id="@decisionTypeQuestion.Id-hint" class="govuk-hint">
                                            @decisionTypeQuestion.Hint
                                        </div>
                                    </label>

                                    @if (decisionTypeQuestion.DrawdownFacilityAgreed != null)
                                    {
                                        <div class="govuk-radios__conditional" id="@decisionTypeQuestion.Id-subquestion-container" data-testid="@decisionTypeQuestion.Id-subquestion-container">
                                            <partial name="Components/_RadioList" model="decisionTypeQuestion.DrawdownFacilityAgreed" />

                                            @if (decisionTypeQuestion.FrameworkCategory != null)
                                            {
                                                <partial name="Components/_RadioList" model="decisionTypeQuestion.FrameworkCategory" />
                                            }
                                        </div>
                                    }

                                </div>
                            }
                        </fieldset>
                    </div>

                    @* Total amount requested *@
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="submission-required-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-heading-m">What was the total amount requested? </h2>
                            </legend>
                            <div id="total-amount-request-hint" class="govuk-hint">
                                If no amount was requested, enter £0.
                            </div>
                            <div class="govuk-input__wrapper">
                                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                <input class="govuk-input govuk-input--width-6"
                                       id="total-amount-request"
                                       name="Decision.TotalAmountRequested"
                                       type="text"
                                       value="@Model.Decision.TotalAmountRequested"
                                       aria-label="What was the total amount requested">
                            </div>
                        </fieldset>
                    </div>

                    @* Notes *@
                    <partial name="Components/_TextArea" model="Model.Notes" />

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-decision-button" name="action">
                            @Model.SaveAndContinueButtonText
                        </button>

                        <partial name="_Cancel" />
                    </div>
                </form>

                <script type="application/javascript" nonce="@nonce">
                    $(function () {

                        function onSubQuestionSelected(type) {

                            $(`#${type}`).on('click', function () {
                                hideIfNotSelected(type);
                            });

                            hideIfNotSelected(type);
                        }

                        function hideIfNotSelected(type) {
                            let isChecked = $(`#${type}`).is(":checked");
                            let inputElement = $(`#${type}-subquestion-container :input`);
                            inputElement.prop('disabled', !isChecked);
                            inputElement.prop('aria-disabled', !isChecked);
                            let subContainer = $(`#${type}-subquestion-container`);
                            subContainer.removeClass(['govuk-radios__conditional--disabled']);

                            if (!isChecked) {
                                inputElement.prop('checked', false);
                                subContainer.addClass('govuk-radios__conditional--disabled');
                            }
                        }

                        onSubQuestionSelected("NonRepayableFinancialSupport");
                        onSubQuestionSelected("RepayableFinancialSupport");
                        onSubQuestionSelected("ShortTermCashAdvance");

                        let totalAmountRequestedElement = $('#total-amount-request');

                        $(document).ready(function() {
                            formatCurrency(totalAmountRequestedElement);
                        });

                        totalAmountRequestedElement.focusout(function () {
                            formatCurrency(totalAmountRequestedElement);
                        });

                        var submitButton = $('#add-decision-button')[0];
                        disableOnSubmit(submitButton);
                    });
                </script>
            }

        </div>
    </div>
</div>
