@page "/case/{urn:long}/management/action"
@model ConcernsCaseWork.Pages.Case.Management.Action.IndexPageModel
@using Service.TRAMS.Cases;

@{
	ViewData["Title"] = "Case Actions";
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
	<partial name="_BannerError" />

	@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
	{
		<partial name="_Error" />
	}
	else
	{
		<h1 class="govuk-heading-l">Add to case</h1>

		@if (!string.IsNullOrEmpty((string)TempData.Peek("CaseAction.Error")))
		{
			<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary" aria-labelledby="errorSummary-heading">
				<h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
				<div class="govuk-error-summary__body">
					<ul class="govuk-list govuk-error-summary__list">
						<li>
							<a href="#">@TempData["CaseAction.Error"]</a>
						</li>
					</ul>
				</div>
			</div>
		}

		<h2 class="govuk-heading-m">What action are you taking?</h2>

		<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

		<!-- FORM -->
		<form role="form" method="post" id="case-action-form" novalidate>

			<div class="govuk-form-group govuk-!-margin-top-6">
				<fieldset class="govuk-fieldset">

					<legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
					</legend>

					<div class="govuk-radios" data-module="govuk-radios">

						<!--Case Action radios-->
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action" name="action" type="radio" value="@CaseActionEnum.DfESupport" disabled="disabled">
							<label class="govuk-label govuk-radios__label" for="action">
								<span>
									DfE support
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-2" name="action" type="radio" value="@CaseActionEnum.FinancialForecast" disabled="disabled">
							<label class="govuk-label govuk-radios__label" for="action-2">
								<span>
									Financial forecast
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-3" name="action" type="radio" value="@CaseActionEnum.FinancialPlan" disabled="disabled">
							<label class="govuk-label govuk-radios__label" for="action-3">
								<span>
									Financial plan
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-4" name="action" type="radio" value="@CaseActionEnum.FinancialReturns" disabled="disabled">
							<label class="govuk-label govuk-radios__label" for="action-4">
								<span>
									Financial returns
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-5" name="action" type="radio" value="@CaseActionEnum.FinancialSupport" disabled="disabled">
							<label class="govuk-label govuk-radios__label" for="action-5">
								<span>
									Financial support
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-6" name="action" type="radio" value="@CaseActionEnum.ForcedTermination" disabled="disabled">
							<label class="govuk-label govuk-radios__label" for="action-6">
								<span>
									Forced termination
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-7" name="action" type="radio" value="@CaseActionEnum.Nti" disabled="disabled">
							<label class="govuk-label govuk-radios__label" for="action-7">
								<span>
									Notice To Improve (NTI)
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-8" name="action" type="radio" value="@CaseActionEnum.RecoveryPlan" disabled="disabled">
							<label class="govuk-label govuk-radios__label" for="action-8">
								<span>
									Recovery plan
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-9" name="action" type="radio" value="@CaseActionEnum.Srma">
							<label class="govuk-label govuk-radios__label" for="action-9">
								<span>
									School Resource Management Adviser (SRMA)
								</span>
							</label>
						</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="action-10" name="action" type="radio" value="@CaseActionEnum.Tff" disabled>
							<label class="govuk-label govuk-radios__label" for="action-10">
								<span>
									Trust Financial Forecast (TFF)
								</span>
							</label>
						</div>

					</div>

				</fieldset>
			</div>

			<div class="govuk-button-group">
				<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button">
					Add to case
				</button>
	
				<partial name="_Cancel" />
			</div>

		</form>

		<script type="application/javascript" nonce="@nonce">
			$(function () {
				let validator = formValidator($("#case-action-form")[0]);
				addCaseActionValidator(validator);
			});
		</script>
	}
</div>